---
---
<html lang="en">

{% include hender.html %}

<body class="landing-page body-blue">

  <!-- GITHUB BUTTON JS -->
  <script async defer src="assets/js/buttons.github.io.buttons.js"></script>

  <!--FACEBOOK LIKE BUTTON JAVASCRIPT SDK-->
  <div id="fb-root"></div>

  <div class="page-wrapper">

    <!-- ******Header****** -->
    <header class="header text-center">
      <div class="container">
        <div class="branding">
          <h1 class="logo">
            <img src="/assets/logo.png" width="300px">
            <!--                        <span aria-hidden="true" class="icon_documents_alt icon"></span>-->
            <!--                        <span class="text-highlight">PHPZlc</span><span class="text-bold">Docs</span>-->
          </h1>
        </div>
        <!--//branding-->
        <div class="tagline">
          <p>PHPZlc在深度运用Symfony的基础上，探究研发知行合一的最佳实践</p>
          <p>专为 <i class="fas fa-heart"></i> 开发者提供开箱即用的成熟商业策略</p>
        </div>
        <!--//tagline-->

        <div class="main-search-box pt-3 pb-4 d-inline-block">
          <form class="form-inline search-form justify-content-center" action="/search" method="get">

            <input type="text" placeholder="输入搜索关键字..." name="search" class="form-control search-input">

            <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>

          </form>
        </div>

        <div class="social-container">
          <!-- Replace with your Github Button -->
          <div class="github-btn mb-2">
            <a class="github-button" href="https://github.com/phpzlc" data-size="large"
              aria-label="Follow @phpzlc">Follow @phpzlc</a>
            <a class="github-button" href="https://github.com/phpzlc/phpzlc.github.io" data-size="large"
              aria-label="Star phpzlc/phpzlc-doc-Theme on GitHub">Star</a>
            <a class="github-button" href="https://github.com/CJayHe" data-size="large"
              aria-label="CJayHe on GitHub">Follow @CJayHe</a>
          </div>
        </div>
        <!--//social-container-->


      </div>
      <!--//container-->
    </header>
    <!--//header-->

    <section class="cards-section text-center">
      <div class="container">
        <h2 class="title">从此了解于胸,得心应手</h2>
        <div class="intro">
          <p>欢迎阅读文档,您除了可以了解到我们的工作方式以外，还可以从阅读中得到我们对于<a href="https://symfony.com/"> Symfony </a>的思考以及延伸。</p>
        </div>
        <!--//intro-->
        <div id="cards-wrapper" class="cards-wrapper row">
          <div class="item item-blue col-lg-4 col-6">
            <div class="item-inner">
              <div class="icon-holder">
                <span aria-hidden="true" class="icon icon_documents"></span>
              </div>
              <!--//icon-holder-->
              <h3 class="title">文档支持</h3>
              <p class="intro">从简单到深入,让我们迈出第一步</p>
              <a class="link" href="/doc/install"><span></span></a>
            </div>
            <!--//item-inner-->
          </div>
          <!--//item-->
          <div class="item item-pink item-2 col-lg-4 col-6">
            <div class="item-inner">
              <div class="icon-holder">
                <span aria-hidden="true" class="icon icon_puzzle_alt"></span>
              </div>
              <!--//icon-holder-->
              <h3 class="title">组件中心</h3>
              <p class="intro">Composer + Symfony Flex 构建强大生态</p>
              <a class="link" href="module"><span></span></a>
            </div>
            <!--//item-inner-->
          </div>
          <!--//item-->
          <div class="item item-primary col-lg-4 col-6">
            <div class="item-inner">
              <div class="icon-holder">
                <span aria-hidden="true" class="icon icon_genius"></span>
              </div>
              <!--//icon-holder-->
              <h3 class="title">博客动态</h3>
              <p class="intro">分享技术,发布信息 </p>
              <a class="link" href="blog"><span></span></a>
            </div>
            <!--//item-inner-->
          </div>
          <!--//item-->
          <div class="item item-green col-lg-4 col-6">
            <div class="item-inner">
              <div class="icon-holder">
                <i class="icon fa fa-paper-plane"></i>
              </div>
              <!--//icon-holder-->
              <h3 class="title">项目介绍</h3>
              <p class="intro">源于需要,坚于信念</p>
              <a class="link" href="about"><span></span></a>
            </div>
            <!--//item-inner-->
          </div>
          <!--//item-->
          <div class="item item-orange col-lg-4 col-6">
            <div class="item-inner">
              <div class="icon-holder">
                <!-- <span aria-hidden="true" class="icon icon_refresh"></span> -->
                <img style="width: 36px;height: 36px;display: block;margin: 0 auto;"
                  src="/assets/images/team-2.png?v=20210324" alt="">
              </div>
              <!--//icon-holder-->
              <h3 class="title">团队成员</h3>
              <p class="intro">因为热爱，才会更好。记住每一份贡献。</p>
              <a class="link" href="member"><span></span></a>
            </div>
            <!--//item-inner-->
          </div>
          <!--//item-->
          <div class="item item-purple col-lg-4 col-6">
            <div class="item-inner">
              <div class="icon-holder">
                <span aria-hidden="true" class="icon icon_question"></span>
              </div>
              <!--//icon-holder-->
              <h3 class="title">常见问题</h3>
              <p class="intro">一些常见的问题可以在这里找到</p>
              <a class="link" href="faqs"><span></span></a>
            </div>
            <!--//item-inner-->
          </div>
          <!--//item-->
        </div>
        <!--//cards-->
      </div>
      <!--//container-->
    </section>

    <div class="qun">
      <a target="_blank" href="https://jq.qq.com/?_wv=1027&k=ZpwdagVG">
        <img border="0" src="/assets/images/qq.png?v=20210324" alt="一键加群" title="一键加群">
        <p>加入本群</p>
      </a>
    </div>
    <!--//cards-section-->

    {% include footer.html %}
</body>

</html>