---
---
<html lang="en">

{% include header.html %}

<body class="landing-page body-blue">

  <!-- GITHUB BUTTON JS -->
  <script async defer src="assets/js/buttons.github.io.buttons.js"></script>

  <!--FACEBOOK LIKE BUTTON JAVASCRIPT SDK-->
  <div id="fb-root"></div>

  <div class="page-wrapper">

    <!-- ******Header****** -->
    <header class="header text-center">
      <div class="container">
        <div class="branding">
          <h1 class="logo">
            <img src="/assets/logo.png" width="300px" height="163px">
          </h1>
        </div>
        <!--//branding-->
        <div class="tagline">
          <p>在Symfony4的基础上,为 <i class="fas fa-heart"> </i> PHP开发者提供成熟的Web应用程序开发教程和业务组件。</p>
        </div>
        <!--//tagline-->

        <div class="main-search-box pt-3 pb-4 d-inline-block">
          <form class="form-inline search-form justify-content-center" action="/search" method="get">

            <input type="text" placeholder="输入搜索关键字..." name="search" class="form-control search-input">

            <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>

          </form>
        </div>

        <div class="social-container">
          <!-- Replace with your Github Button -->
          <div class="github-btn mb-2">
            <a class="github-button" href="https://github.com/phpzlc" data-size="large"
              aria-label="Follow @phpzlc">Follow @phpzlc</a>
            <a class="github-button" href="https://github.com/phpzlc/phpzlc.github.io" data-size="large"
              aria-label="Star phpzlc/phpzlc-doc-Theme on GitHub">Star</a>
            <a class="github-button" href="https://github.com/CJayHe" data-size="large"
              aria-label="CJayHe on GitHub">Follow @CJayHe</a>
          </div>
        </div>
        <!--//social-container-->


      </div>
      <!--//container-->
    </header>
    <!--//header-->

    <section class="cards-section text-center">
      <div class="container">
        <div id="cards-wrapper" class="cards-wrapper row">
          <div class="item item-blue col-lg-4 col-6">
            <div class="item-inner">
              <div class="icon-holder">
                <span aria-hidden="true" class="icon icon_documents"></span>
              </div>
              <!--//icon-holder-->
              <h3 class="title">文档支持</h3>
              <p class="intro">从简单到深入, 让我们迈出第一步</p>
              <a class="link" href="/doc/install"><span></span></a>
            </div>
            <!--//item-inner-->
          </div>
          <!--//item-->
          <div class="item item-pink item-2 col-lg-4 col-6">
            <div class="item-inner">
              <div class="icon-holder">
                <span aria-hidden="true" class="icon icon_puzzle_alt"></span>
              </div>
              <!--//icon-holder-->
              <h3 class="title">组件中心</h3>
              <p class="intro">Composer + Symfony Flex 构建强大生态</p>
              <a class="link" href="module"><span></span></a>
            </div>
            <!--//item-inner-->
          </div>
          <!--//item-->
          <div class="item item-primary col-lg-4 col-6">
            <div class="item-inner">
              <div class="icon-holder">
                <span aria-hidden="true" class="icon icon_genius"></span>
              </div>
              <!--//icon-holder-->
              <h3 class="title">博客动态</h3>
              <p class="intro">行业资讯, 框架动态, 技术博客 </p>
              <a class="link" href="blog"><span></span></a>
            </div>
            <!--//item-inner-->
          </div>
          <!--//item-->
          <div class="item item-green col-lg-4 col-6">
            <div class="item-inner">
              <div class="icon-holder">
                <i class="icon fa fa-paper-plane"></i>
              </div>
              <!--//icon-holder-->
              <h3 class="title">项目介绍</h3>
              <p class="intro">版权、商业合作</p>
              <a class="link" href="about"><span></span></a>
            </div>
            <!--//item-inner-->
          </div>
          <!--//item-->
          <div class="item item-orange col-lg-4 col-6">
            <div class="item-inner">
              <div class="icon-holder">
                <!-- <span aria-hidden="true" class="icon icon_refresh"></span> -->
                <img style="width: 36px;height: 36px;display: block;margin: 0 auto;"
                  src="/assets/images/team-2.png?v=20210324" alt="">
              </div>
              <!--//icon-holder-->
              <h3 class="title">团队成员</h3>
              <p class="intro">加入我们,记住每一份贡献</p>
              <a class="link" href="member"><span></span></a>
            </div>
            <!--//item-inner-->
          </div>
          <!--//item-->
          <div class="item item-purple col-lg-4 col-6">
            <div class="item-inner">
              <!--              <div class="icon-holder">-->
              <!--                <span aria-hidden="true" class="icon icon_question"></span>-->
              <!--              </div>-->
              <div class="icon-holder">
                <span aria-hidden="true" class="icon icon_lifesaver"></span>
              </div>
              <!--//icon-holder-->
              <!--//icon-holder-->
              <h3 class="title">常见问题</h3>
              <p class="intro">一些常见的问题可以在这里找到</p>
              <a class="link" href="faqs"><span></span></a>
            </div>
            <!--//item-inner-->
          </div>
          <!--//item-->
        </div>
        <!--//cards-->
      </div>
      <!--//container-->
    </section>

    <!--//cards-section-->

    {% include footer.html %}
</body>

</html>