---
column_title: 组件中心
---
<html lang="en">

{% include header.html %}

<body class="body-blue">
  <div class="page-wrapper">

    {% include header_column.html %}

    <div class="wrapper-module">

      <div class="header-module">
        <p class="header-title">组件中心</p>
        <p class="header-content-2">
          <a href="https://getcomposer.org/">Composer</a> + <a href="/doc/symfony-flex">Symfony Flex</a> 构建强大生态。为软件定制化开发提供成熟的解决方案。
        </p>
      </div>

      <div class="main-title">业务组件(Business Package)</div>
      <div class="title-detail">
        将常用的业务场景打包成可以组件。安装即用，业务代码可以根据需要任意编辑。详见: <a href="/doc/module/business">业务组件开发手册</a>。
      </div>
      <div class="main-v">
        <div class="main-content-2">
          <a class="module-name" href="https://packagist.org/packages/phpzlc/admin-business">phpzlc/admin-business</a>
          <p class="module-describe">
            后台业务组件，便捷的开发后台。开箱即用，免开发，内置了后台的基本功能(登录权限模块，管理员管理，权限管理)。
          </p>
          <div class="content-detail">
            <a class="detail-left" href="https://github.com/ExodusHT"><span>作者：ExodusHT</span></a>
            <p class="detail-right"><span class="success">发布中</span></p>
            <!-- <p class="detail-right"><span class="error">开发中</span></p> -->
            <a class="detail-left" href="https://github.com/phpzlc/admin-business"><img
                src="https://img.shields.io/github/stars/phpzlc/admin-business?style=social" alt=""></a>
            <p class="detail-right"><a class="a-doc" href="/doc/module/admin-business">Doc</a><a class="a-code"
                href="https://github.com/phpzlc/admin-business">Code</a></p>
          </div>
        </div>
      </div>

      <div class="main-title">功能组件(Vendor Package)</div>
      <div class="title-detail">
          正常的Composer包，其代码安装之后不允许修改。提供高度封装的原子性功能。详见: <a href="/doc/module/vendor">功能组件开发手册</a>。
      </div>
      <div class="main-b">
        <div class="main-content-2">
          <a class="module-name" href="https://packagist.org/packages/phpzlc/validate">phpzlc/validate</a>
          <p class="module-describe">
            一个只返回bool的验证库，以及一个面向业务的正则库，使验证可以作为最小单元进驻系统提供服务。
          </p>
          <div class="content-detail">
            <a class="detail-left" href="https://github.com/CJayHe"><span>作者：CJayHe</span></a>
            <p class="detail-right"><span class="success">发布中</span></p>
            <!-- <p class="detail-right"><span class="error">开发中</span></p> -->
            <a class="detail-left" href="https://github.com/phpzlc/validate"><img
                    src="https://img.shields.io/github/stars/phpzlc/validate?style=social" alt=""></a>
            <p class="detail-right"><a class="a-doc" href="/doc/validate">Doc</a><a class="a-code"
                    href="https://github.com/phpzlc/validate">Code</a></p>
          </div>
        </div>

        <div class="main-content-2">
          <a class="module-name" href="https://packagist.org/packages/phpzlc/document-bundle">phpzlc/document-bundle</a>
          <p class="module-describe">
            文档组件，用于书写生成API文档
          </p>
          <div class="content-detail">
            <a class="detail-left" href="https://github.com/CJayHe"><span>作者：CJayHe</span></a>
            <p class="detail-right"><span class="success">发布中</span></p>
            <!-- <p class="detail-right"><span class="error">开发中</span></p> -->
            <a class="detail-left" href="https://github.com/phpzlc/document-bundle"><img
                    src="https://img.shields.io/github/stars/phpzlc/document-bundle?style=social" alt=""></a>
            <p class="detail-right"><a class="a-doc" href="/doc/document-bundle">Doc</a><a class="a-code"
                                                                                    href="https://github.com/phpzlc/document-bundle">Code</a></p>
          </div>
        </div>

      </div>
    </div>

    {% include footer.html %}
</body>

</html>