---
column_title: 组件中心
---
<html lang="en">

{% include header.html %}

<body class="body-blue">
  <div class="page-wrapper">

    {% include header_column.html %}

    <div class="wrapper-module">

      <div class="header-module">
        <p class="header-title">说明</p>
        <p class="header-content">
          专注于互联网与高科技领域的猎头公司，提供专业人才、中高级人才的寻聘服务（猎头），帮助企业找到关键人才，实现发展战略。曾被誉为阿里巴巴、美团、滴滴、英特尔、58集团等企业的“年度最佳人才服务合作机构”。专注于互联网与高科技领猎头公司，提供专业人才、中高级人才的寻聘服务（猎头），帮助企业找到关键人才，实现发展战略。曾被誉为阿里巴巴、美团、滴滴、英特尔、58集团等企业的“年度最佳人才服务合作机构”。专注于互联网与高科域的猎头公司，提供专业人才、中高级人才的寻聘服务（，帮助企业找到关键人才，实现发展战略。曾被誉为阿里巴巴、美团、滴滴、英特尔、58集团等企业的“年度最佳人才服务合作机构”。
        </p>
      </div>

      <div class="main-title">Vennder组件（功能性组件）</div>
      <div class="title-detail">
        专业人才、中高级人才的寻聘服务（猎头），帮助企业找到关键人才，实现发展战略。曾被誉为阿里巴巴、美团、滴滴、英特尔、58集团等企业的“年度专业人才、中高级人才的寻聘服务（猎头），帮助企业找到关键人才，实现发展战略。曾被誉为阿里巴巴、美团、滴滴、英特尔、58集团等企业的“年度专业人才、中高级人才的寻聘服务（猎头），帮助企业找到关键人才，实现发展战略。曾被誉为阿里巴巴、美团、滴滴、英特尔、58集团等企业的“年度专业人才、中高级人才的寻聘服务（猎头），帮助企业找到关键人才，实现发展战略。曾被誉为阿里巴巴、美团、滴滴、英特尔、58集团等企业的“年度
      </div>
      <div class="main-v">
        <div class="main-content-2">
          <a class="module-name" href="javascript:;">组件名称组件名称组件名称组件名称组件名称组件名称</a>
          <p class="module-describe">
            <span>组件描述：</span>组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称
          </p>
          <div class="content-detail">
            <a class="detail-left" href="javascript:;"><span>作者：</span>XXX</a>
            <p class="detail-right"><span class="success">发布中</span></p>
            <!-- <p class="detail-right"><span class="error">开发中</span></p> -->
            <a class="detail-left" href="javascript:;"><img
                src="https://img.shields.io/github/stars/qiesunl?style=social" alt=""></a>
            <p class="detail-right"><a class="a-doc" href="javascript:;">Doc</a><a class="a-code"
                href="javascript:;">Code</a></p>
          </div>
        </div>
        <div class="main-content-2">
          <a class="module-name" href="javascript:;">组件名称组件名称组件名称组件名称组件名称组件名称</a>
          <p class="module-describe">
            <span>组件描述：</span>组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称
          </p>
          <div class="content-detail">
            <a class="detail-left" href="javascript:;"><span>作者：</span>XXX</a>
            <!-- <p class="detail-right"><span class="success">发布中</span></p> -->
            <p class="detail-right"><span class="error">开发中</span></p>
            <a class="detail-left" href="javascript:;"><img
                src="https://img.shields.io/github/stars/qiesunl?style=social" alt=""></a>
            <p class="detail-right"><a class="a-doc" href="javascript:;">Doc</a><a class="a-code"
                href="javascript:;">Code</a></p>
          </div>
        </div>
        <div class="main-content-2">
          <a class="module-name" href="javascript:;">组件名称组件名称组件名称组件名称组件名称组件名称</a>
          <p class="module-describe">
            <span>组件描述：</span>组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称
          </p>
          <div class="content-detail">
            <a class="detail-left" href="javascript:;"><span>作者：</span>XXX</a>
            <p class="detail-right"><span class="success">发布中</span></p>
            <!-- <p class="detail-right"><span class="error">开发中</span></p> -->
            <a class="detail-left" href="javascript:;"><img
                src="https://img.shields.io/github/stars/qiesunl?style=social" alt=""></a>
            <p class="detail-right"><a class="a-doc" href="javascript:;">Doc</a><a class="a-code"
                href="javascript:;">Code</a></p>
          </div>
        </div>
        <div class="main-content-2">
          <a class="module-name" href="javascript:;">组件名称组件名称组件名称组件名称组件名称组件名称</a>
          <p class="module-describe">
            <span>组件描述：</span>组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称
          </p>
          <div class="content-detail">
            <a class="detail-left" href="javascript:;"><span>作者：</span>XXX</a>
            <!-- <p class="detail-right"><span class="success">发布中</span></p> -->
            <p class="detail-right"><span class="error">开发中</span></p>
            <a class="detail-left" href="javascript:;"><img
                src="https://img.shields.io/github/stars/qiesunl?style=social" alt=""></a>
            <p class="detail-right"><a class="a-doc" href="javascript:;">Doc</a><a class="a-code"
                href="javascript:;">Code</a></p>
          </div>
        </div>
      </div>

      <div class="main-title">Buiness组件（业务组件）</div>
      <div class="title-detail">
        专业人才、中高级人才的寻聘服务（猎头），帮助企业找到关键人才，实现发展战略。曾被誉为阿里巴巴、美团、滴滴、英特尔、58集团等企业的“年度专业人才、中高级人才的寻聘服务（猎头），帮助企业找到关键人才，实现发展战略。曾被誉为阿里巴巴、美团、滴滴、英特尔、58集团等企业的“年度专业人才、中高级人才的寻聘服务（猎头），帮助企业找到关键人才，实现发展战略。曾被誉为阿里巴巴、美团、滴滴、英特尔、58集团等企业的“年度专业人才、中高级人才的寻聘服务（猎头），帮助企业找到关键人才，实现发展战略。曾被誉为阿里巴巴、美团、滴滴、英特尔、58集团等企业的“年度
      </div>
      <div class="main-b">
        <div class="main-content-2">
          <a class="module-name" href="javascript:;">组件名称组件名称组件名称组件名称组件名称组件名称</a>
          <p class="module-describe">
            <span>组件描述：</span>组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称
          </p>
          <div class="content-detail">
            <a class="detail-left" href="javascript:;"><span>作者：</span>XXX</a>
            <p class="detail-right"><span class="success">发布中</span></p>
            <!-- <p class="detail-right"><span class="error">开发中</span></p> -->
            <a class="detail-left" href="javascript:;"><img
                src="https://img.shields.io/github/stars/qiesunl?style=social" alt=""></a>
            <p class="detail-right"><a class="a-doc" href="javascript:;">Doc</a><a class="a-code"
                href="javascript:;">Code</a></p>
          </div>
        </div>
        <div class="main-content-2">
          <a class="module-name" href="javascript:;">组件名称组件名称组件名称组件名称组件名称组件名称</a>
          <p class="module-describe">
            <span>组件描述：</span>组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称
          </p>
          <div class="content-detail">
            <a class="detail-left" href="javascript:;"><span>作者：</span>XXX</a>
            <p class="detail-right"><span class="success">发布中</span></p>
            <!-- <p class="detail-right"><span class="error">开发中</span></p> -->
            <a class="detail-left" href="javascript:;"><img
                src="https://img.shields.io/github/stars/qiesunl?style=social" alt=""></a>
            <p class="detail-right"><a class="a-doc" href="javascript:;">Doc</a><a class="a-code"
                href="javascript:;">Code</a></p>
          </div>
        </div>
        <div class="main-content-2">
          <a class="module-name" href="javascript:;">组件名称组件名称组件名称组件名称组件名称组件名称</a>
          <p class="module-describe">
            <span>组件描述：</span>组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称
          </p>
          <div class="content-detail">
            <a class="detail-left" href="javascript:;"><span>作者：</span>XXX</a>
            <!-- <p class="detail-right"><span class="success">发布中</span></p> -->
            <p class="detail-right"><span class="error">开发中</span></p>
            <a class="detail-left" href="javascript:;"><img
                src="https://img.shields.io/github/stars/qiesunl?style=social" alt=""></a>
            <p class="detail-right"><a class="a-doc" href="javascript:;">Doc</a><a class="a-code"
                href="javascript:;">Code</a></p>
          </div>
        </div>
        <div class="main-content-2">
          <a class="module-name" href="javascript:;">组件名称组件名称组件名称组件名称组件名称组件名称</a>
          <p class="module-describe">
            <span>组件描述：</span>组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称组件名称
          </p>
          <div class="content-detail">
            <a class="detail-left" href="javascript:;"><span>作者：</span>XXX</a>
            <!-- <p class="detail-right"><span class="success">发布中</span></p> -->
            <p class="detail-right"><span class="error">开发中</span></p>
            <a class="detail-left" href="javascript:;"><img
                src="https://img.shields.io/github/stars/qiesunl?style=social" alt=""></a>
            <p class="detail-right"><a class="a-doc" href="javascript:;">Doc</a><a class="a-code"
                href="javascript:;">Code</a></p>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
</body>

</html>