---
column_title: 解决方案
---
<html lang="en">

{% include header.html %}

<body class="body-blue">
  <div class="page-wrapper">

    {% include header_column.html %}

    <div class="wrapper-module">

      <div class="header-module">
        <p class="header-title">解决方案</p>
        <p class="header-content-2">
          <a href="https://getcomposer.org/">Composer</a> + <a href="/doc/symfony-flex">Symfony Flex</a> 构建强大生态。为软件定制化开发提供成熟的解决方案。
        </p>
      </div>

      <div class="main-title">业务组件(Business Package)</div>
      <div class="title-detail">
        将常用的业务场景打包成可以组件。安装即用，业务代码可以根据需要任意编辑。详见: <a href="/doc/module/business">业务组件开发手册</a>。
      </div>
      <div class="main-v">

        <div class="main-content-2">
          <a class="module-name" href="https://packagist.org/packages/phpzlc/admin-business">phpzlc/admin-business</a>
          <p class="module-describe">
            后台业务组件，便捷的开发后台。开箱即用，免开发，内置了后台的基本功能(登录权限模块，管理员管理，权限管理)。
          </p>
          <div class="content-detail">
            <a class="detail-left" href="https://github.com/ExodusHT"><span>作者：ExodusHT</span></a>
            <p class="detail-right"><span class="success">已发布</span></p>
            <!-- <p class="detail-right"><span class="error">开发中</span></p> -->
            <a class="detail-left" href="https://github.com/phpzlc/admin-business"><img
                src="https://img.shields.io/github/stars/phpzlc/admin-business?style=social" alt=""></a>
            <p class="detail-right"><a class="a-doc" href="/doc/module/admin-business">Doc</a><a class="a-code"
                href="https://github.com/phpzlc/admin-business">Code</a></p>
          </div>
        </div>

        <div class="main-content-2">
          <a class="module-name" href="https://packagist.org/packages/phpzlc/rbac-business">phpzlc/rbac-business</a>
          <p class="module-describe">
            简易RBAC 权限业务组件，支持角色，权限，用户。和Symfony路由绑定关系，支持多平台,各个位置皆可使用。
          </p>
          <div class="content-detail">
            <a class="detail-left" href="https://github.com/CJayHe"><span>作者：CJayHe</span></a>
            <p class="detail-right"><span class="success">已发布</span></p>
            <!--            <p class="detail-right"><span class="error">计划中</span></p>-->
            <a class="detail-left" href="https://github.com/phpzlc/RBAC-business"><img
                    src="https://img.shields.io/github/stars/phpzlc/RBAC-business?style=social" alt=""></a>
            <p class="detail-right">
              <a class="a-doc" href="/doc/module/RBAC-business">Doc</a>
              <a class="a-code" href="https://github.com/phpzlc/RBAC-business">Code</a>
            </p>
          </div>
        </div>

        <div class="main-content-2">
          <a class="module-name" href="https://packagist.org/packages/phpzlc/auth-business">phpzlc/auth-business</a>
          <p class="module-describe">
            登录授权中心业务组件,提供一整套登录，改密，验证登录，验证权限的业务功能。保证系统所有用户都可以接入使用。
          </p>
          <div class="content-detail">
            <a class="detail-left" href="https://github.com/ExodusHT"><span>作者：ExodusHT</span></a>
            <p class="detail-right"><span class="success">已发布</span></p>
            <!--            <p class="detail-right"><span class="error">计划中</span></p>-->
            <a class="detail-left" href="https://github.com/phpzlc/auth-business"><img
                    src="https://img.shields.io/github/stars/phpzlc/auth-business?style=social" alt=""></a>
            <p class="detail-right">
              <a class="a-doc" href="/doc/module/auth-business">Doc</a>
              <a class="a-code" href="https://github.com/phpzlc/auth-business">Code</a>
            </p>
          </div>
        </div>

        <div class="main-content-2">
          <a class="module-name" href="https://packagist.org/packages/phpzlc/platform-business">phpzlc/platform-business</a>
          <p class="module-describe">
            用于注册标记项目中的平台标记，用于各平台的业务区分。
          </p>
          <div class="content-detail">
            <a class="detail-left" href="https://github.com/ExodusHT"><span>作者：ExodusHT</span></a>
            <p class="detail-right"><span class="success">已发布</span></p>
            <!--            <p class="detail-right"><span class="error">计划中</span></p>-->
            <a class="detail-left" href="https://github.com/phpzlc/platform-business"><img
                    src="https://img.shields.io/github/stars/phpzlc/platform-business?style=social" alt=""></a>
            <p class="detail-right">
              <a class="a-doc" href="/doc/module/platform-business">Doc</a>
              <a class="a-code" href="https://github.com/phpzlc/platform-business">Code</a>
            </p>
          </div>
        </div>

        <div class="main-content-2">
          <a class="module-name" href="https://packagist.org/packages/phpzlc/sms-business">phpzlc/sms-business</a>
          <p class="module-describe">
            发送短信验证码，发送短信业务组件。(内置阿里云，聚合短信接口接入代码)
          </p>
          <div class="content-detail">
            <a class="detail-left" href="https://github.com/CJayHe"><span>作者：CJayHe</span></a>
<!--            <p class="detail-right"><span class="success">已发布</span></p>-->
                <p class="detail-right"><span class="error">预发布</span></p>
            <a class="detail-left" href="https://github.com/phpzlc/sms-business"><img
                    src="https://img.shields.io/github/stars/phpzlc/sms-business?style=social" alt=""></a>
            <p class="detail-right">
<!--              <a class="a-doc" href="/doc/module/sms-business">Doc</a>-->
              <a class="a-code" href="https://github.com/phpzlc/sms-business">Code</a>
            </p>
          </div>
        </div>

        <div class="main-content-2">
          <a class="module-name" href="https://packagist.org/packages/phpzlc/captcha-business">phpzlc/captcha-business</a>
          <p class="module-describe">
            图形验证码业务组件。
          </p>
          <div class="content-detail">
            <a class="detail-left" href="https://github.com/CJayHe"><span>作者：CJayHe</span></a>
            <p class="detail-right"><span class="success">已发布</span></p>
            <!--            <p class="detail-right"><span class="error">计划中</span></p>-->
            <a class="detail-left" href="https://github.com/phpzlc/captcha-business"><img
                    src="https://img.shields.io/github/stars/phpzlc/captcha-business?style=social" alt=""></a>
            <p class="detail-right">
              <a class="a-doc" href="/doc/module/captcha-business">Doc</a>
              <a class="a-code" href="https://github.com/phpzlc/captcha-business">Code</a>
            </p>
          </div>
        </div>

        <div class="main-content-2">
          <a class="module-name" href="https://packagist.org/packages/phpzlc/upload-business">phpzlc/upload-business</a>
          <p class="module-describe">
            上传业务组件。
          </p>
          <div class="content-detail">
            <a class="detail-left" href="https://github.com/CJayHe"><span>作者：CJayHe</span></a>
            <p class="detail-right"><span class="success">已发布</span></p>
<!--            <p class="detail-right"><span class="error">计划中</span></p>-->
            <a class="detail-left" href="https://github.com/phpzlc/upload-business"><img
                    src="https://img.shields.io/github/stars/phpzlc/upload-business?style=social" alt=""></a>
            <p class="detail-right">
              <a class="a-doc" href="/doc/module/upload-business">Doc</a>
              <a class="a-code" href="https://github.com/phpzlc/upload-business">Code</a>
            </p>
          </div>
        </div>

        <div class="main-content-2">
          <a class="module-name" href="https://packagist.org/packages/phpzlc/snapshot-business">phpzlc/snapshot-business</a>
          <p class="module-describe">
            快照组件，在数据库中便捷的设置读取自定义参数。
          </p>
          <div class="content-detail">
            <a class="detail-left" href="https://github.com/CJayHe"><span>作者：CJayHe</span></a>
            <p class="detail-right"><span class="success">已发布</span></p>
            <!--            <p class="detail-right"><span class="error">计划中</span></p>-->
            <a class="detail-left" href="https://github.com/phpzlc/snapshot-business"><img
                    src="https://img.shields.io/github/stars/phpzlc/snapshot-business?style=social" alt=""></a>
            <p class="detail-right">
              <a class="a-doc" href="/doc/module/snapshot-business">Doc</a>
              <a class="a-code" href="https://github.com/phpzlc/snapshot-business">Code</a>
            </p>
          </div>
        </div>

      </div>

      <div class="main-title">功能组件(Vendor Package)</div>
      <div class="title-detail">
          正常的Composer包，其代码安装之后不允许修改。提供高度封装的原子性功能。详见: <a href="/doc/module/vendor">功能组件开发手册</a>。
      </div>
      <div class="main-b">
        <div class="main-content-2">
          <a class="module-name" href="https://packagist.org/packages/phpzlc/validate">phpzlc/validate</a>
          <p class="module-describe">
            一个只返回bool的验证库，以及一个面向业务的正则库，使验证可以作为最小单元进驻系统提供服务。
          </p>
          <div class="content-detail">
            <a class="detail-left" href="https://github.com/CJayHe"><span>作者：CJayHe</span></a>
            <p class="detail-right"><span class="success">已发布</span></p>
            <!-- <p class="detail-right"><span class="error">开发中</span></p> -->
            <a class="detail-left" href="https://github.com/phpzlc/validate"><img
                    src="https://img.shields.io/github/stars/phpzlc/validate?style=social" alt=""></a>
            <p class="detail-right"><a class="a-doc" href="/doc/validate">Doc</a><a class="a-code"
                    href="https://github.com/phpzlc/validate">Code</a></p>
          </div>
        </div>

        <div class="main-content-2">
          <a class="module-name" href="https://packagist.org/packages/phpzlc/document-bundle">phpzlc/document-bundle</a>
          <p class="module-describe">
            文档组件，用于编写接口文档,通过命令生成,在线的,可测试,可交付的技术文档。
          </p>
          <div class="content-detail">
            <a class="detail-left" href="https://github.com/CJayHe"><span>作者：CJayHe</span></a>
            <p class="detail-right"><span class="success">已发布</span></p>
            <!-- <p class="detail-right"><span class="error">开发中</span></p> -->
            <a class="detail-left" href="https://github.com/phpzlc/document-bundle"><img
                    src="https://img.shields.io/github/stars/phpzlc/document-bundle?style=social" alt=""></a>
            <p class="detail-right"><a class="a-doc" href="/doc/document-bundle">Doc</a><a class="a-code"
                    href="https://github.com/phpzlc/document-bundle">Code</a></p>
          </div>
        </div>

        <div class="main-content-2">
          <a class="module-name" href="https://packagist.org/packages/phpzlc/admin">phpzlc/admin</a>
          <p class="module-describe">
            后台内核，为后台业务提供底层策略，写法支持。
          </p>
          <div class="content-detail">
            <a class="detail-left" href="https://github.com/CJayHe"><span>作者：CJayHe</span></a>
            <p class="detail-right"><span class="success">已发布</span></p>
            <!-- <p class="detail-right"><span class="error">开发中</span></p> -->
            <a class="detail-left" href="https://github.com/phpzlc/admin"><img
                    src="https://img.shields.io/github/stars/phpzlc/admin?style=social" alt=""></a>
            <p class="detail-right"><a class="a-doc" href="/doc/module/admin">Doc</a><a class="a-code"
                    href="https://github.com/phpzlc/admin">Code</a></p>
          </div>
        </div>

        <div class="main-content-2">
          <a class="module-name" href="https://packagist.org/packages/phpzlc/upload">phpzlc/upload</a>
          <p class="module-describe">
            上传组件。
          </p>
          <div class="content-detail">
            <a class="detail-left" href="https://github.com/CJayHe"><span>作者：CJayHe</span></a>
            <p class="detail-right"><span class="success">已发布</span></p>
            <!-- <p class="detail-right"><span class="error">开发中</span></p> -->
            <a class="detail-left" href="https://github.com/phpzlc/upload"><img
                    src="https://img.shields.io/github/stars/phpzlc/upload?style=social" alt=""></a>
            <p class="detail-right"><a class="a-doc" href="/doc/module/upload">Doc</a><a class="a-code"
                    href="https://github.com/phpzlc/upload">Code</a></p>
          </div>
        </div>

        <div class="main-content-2">
          <a class="module-name" href="https://packagist.org/packages/phpzlc/flex">phpzlc/flex</a>
          <p class="module-describe">
            PHPZlc Composer 插件, 用于解决phpzlc包安装问题。
          </p>
          <div class="content-detail">
            <a class="detail-left" href="https://github.com/CJayHe"><span>作者：CJayHe</span></a>
<!--            <p class="detail-right"><span class="success">已发布</span></p>-->
             <p class="detail-right"><span class="error">计划中</span></p>
            <a class="detail-left" href="https://github.com/phpzlc/flex"><img
                    src="https://img.shields.io/github/stars/phpzlc/flex?style=social" alt=""></a>
            <p class="detail-right">
<!--              <a class="a-doc" href="/doc/module/flex">Doc</a>-->
              <a class="a-code" href="https://github.com/phpzlc/flex">Code</a>
            </p>
          </div>
        </div>

      </div>
    </div>

    {% include footer.html %}
</body>

</html>