<style type="text/css">
  #md-content {
    /* padding-top: 20px; */
    min-height: 500px;
    /* font-family: Consolas, "Liberation Mono", Courier, monospace; */
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  }

  #md-content h2 {
    /* padding-top: 20px; */
    margin: 30px 0 10px 0;
  }

  #md-content code {
    background: #494d55;
    /* padding: 5px; */
  }

  #md-content .language-plaintext {
    /* padding: 0;
    border-radius: 1em; */
    background: #f9f9fb;
    color: #494d55;
    /* color: #00adef;
    font-weight: normal; */
  }

  #md-content .language-plaintext code {
    background-color: #f9f9fb;
  }

    {
    % if page.img_all==1 %
  }

  #md-content img {
    width: 100%;
    /* max-width: 600px; */
  }

    {
    % endif %
  }

  pre[class*="language-"] {
    padding: 0;
    background: #494d55;
  }

  .update {
    overflow: hidden;
  }

  .doc-section .title {
    float: left;
    width: 70%;
    margin-bottom: 0;
    font-size: 28px;
    line-height: 1.2;
    text-align: left;
    word-break: break-all;
  }

  .time {
    float: right;
    width: 30%;
    padding-top: 14px;
    font-size: 14px;
    line-height: 1;
    text-align: right;
  }

  #a_local_url {
    /* color: #58bbee; */
    color: #f75252;
  }

  .body-blue .a-xy {
    color: #f75252;
  }

  .body-blue .a-xy:hover {
    color: #f75252;
  }

  .nav-bottom {
    width: 100%;
    margin-top: 20px;
  }

  .nav-bottom .prev {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-decoration: underline;
  }

  .nav-bottom .next {
    display: block;
    float: right;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-decoration: underline;
  }

  @media screen and (max-width: 1199px) {
    #md-content>ol {
      padding-left: 3%;
    }

    #md-content>ol>li>ol {
      padding-left: 6%;
    }

    .doc-section .title {
      width: 100%;
    }

    .time {
      width: 100%;
      text-align: left;
    }
  }
</style>
<div class="content-inner">
  <section class="doc-section">
    <div class="update">
      <h2 class="title">{{ page.title }}</h2>
      <p class="time"><span>{{ page.date | date: "%Y-%m-%d" }}&nbsp;&nbsp;by&nbsp;&nbsp;</span><span id="author"></span>
      </p>
    </div>
    <ul class="a_link"></ul>
    <div id="md-content">
      {{ content }}
      <div class="nav-bottom">
        {% if page.prev_page | strip_html | strip_newline != '' %}
        <a class="prev" href="{{ page.prev_page }}">上一篇</a>
        {% endif %}

        {% if page.next_page | strip_html | strip_newline != '' %}
        <a class="next" href="{{ page.next_page }}">下一篇</a>
        {% endif %}
      </div>
    </div>
    <div class="entry-shang text-center">
      <p class="fork_update">找到错别字了？本文档有什么问题么？<a
          href="https://github.com/phpzlc/phpzlc.github.io/edit/master/{{page.path}}" target="_blank">分叉并编辑</a> 它&nbsp;！
      </p>
      <button class="zs show-zs btn btn-bred">赞赏</button>
      <!-- <p>「感觉有帮助？对您有价值？开源不易, 一键投喂 牛奶/咖啡/冰阔乐！」</p> -->
    </div>

    <div class="zs-modal-bg"></div>
    <div class="zs-modal-box">
      <div class="zs-modal-head">
        <!-- 关闭按钮 -->
        <button type="button" class="close">×</button>
        <!-- 左上角logo和文字 -->
        <span class="author_zs"> <img src="/assets/images/jay.jpeg" />CJayhe </span>
        <p class="tip"><i></i><span>谢谢您的赞赏~</span></p>
      </div>
      <div class="zs-modal-body">
        <div class="zs-modal-btns">
          <button class="btn btn-blink" data-num="2">2元</button>
          <button class="btn btn-blink" data-num="5">5元</button>
          <button class="btn btn-blink" data-num="10">10元</button>
          <button class="btn btn-blink" data-num="50">50元</button>
          <button class="btn btn-blink" data-num="100">100元</button>
          <button class="btn btn-blink" data-num="1">任意金额</button>
        </div>
        <div class="zs-modal-pay">
          <button class="btn btn-bred" id="pay-text">2元</button>
          <p>使用<span id="pay-type">微信</span>扫描二维码完成支付</p>
          <img src="/assets/images/pay/wechat-btn.png" id="pay-image" />
        </div>
      </div>
      <div class="zs-modal-footer">
        <!-- 赞赏模式，你可以全部打开，也可以选择留一个你喜欢的只需注释掉你想关闭的赞赏模式对应的代码就行，然后再相应的微调一下样式-->
        <!-- 支付宝控件 -->
        <label>
          <input type="radio" name="zs-type" value="alipay" class="zs-type" checked="checked" />
          <span class="zs-alipay"><img src="/assets/images/pay/alipay-btn.png" /></span>
        </label>
        <!-- 微信控件 -->
        <label>
          <input type="radio" name="zs-type" value="wechat" class="zs-type" />
          <span class="zs-wechat"><img src="/assets/images/pay/wechat-btn.png" /></span>
        </label>
        <!-- 清除浮动 -->
        <div class="clear"></div>
      </div>
    </div>
    <div style="font-size: 12px">
      <div>
        <p class="rules">非特殊说明，本站所有文章均为原创，并遵循<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh"
            target="_blank" class="a-xy">CC BY-NC-SA 4.0 协议</a>许可。</p>
        <p class="hidden-xs">转载前请务必署名，本文链接：<a href="" id="a_local_url"></a>。</p>
      </div>
    </div>
  </section>
  <!--//doc-section-->

  <!--评论 https://github.com/gitalk/gitalk/blob/master/readme-cn.md-->
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
  <div id="gitalk-container"></div>
  <script>
    var gitalk = new Gitalk({
      clientID: 'c92fa605c71b2d6807b3',
      clientSecret: '5738c72df80ea2bbff7555ec3b72dbd733ec7a8c',
      repo: 'post-comment',
      owner: 'phpzlc',
      admin: ['CJayHe'],
      id: localBaseUrl(),      // Ensure uniqueness and length less than 50
      distractionFreeMode: true
    })

    gitalk.render('gitalk-container')
  </script>
  <!--评论结束-->
</div>
<!--//content-inner-->
<script>
  $(function () {
    var title = $("#md-content h2");
    // console.log(title);
    html = '';
    title.each(function () {
      var text = $(this)[0].innerText;
      var id = $(this).eq(0).attr("id");
      // console.log(text, id)
      html += `<li><a href="#${id}">${text}</a></li>`
    })
    $(".a_link").append(html)
  })
</script>