    <div id="promo-block" class="promo-block">
        <div class="container">
            <div class="promo-block-inner-bottom">
                <ul class="ul-1">
                    <li class="li-1 li-link" style="width: 160px">
                        <p>相关站点</p>
                        <ul>
                            <li><a href="https://github.com/phpzlc" target="_blank">PhpZlc Github 主页</a></li>
                            <li><a href="https://getcomposer.org/" target="_blank">Composer</a></li>
                            <li><a href="https://www.doctrine-project.org/" target="_blank">Doctrine</a></li>
                            <li><a href="http://symfony.com/" target="_blank">Symfony</a></li>
                            <li><a href="http://www.symfonychina.com/" target="_blank">Symfony 中文文档</a></li>
                        </ul>
                    </li>
                    <li class="li-1 li-link" style="width: 230px;">
                        <p>热门博客</p>
                        <ul>
                            <li><a href="https://github.com/phpzlc" target="_blank">PhpZlc Github 主页</a></li>
                            <li><a href="https://getcomposer.org/" target="_blank">Composer</a></li>
                            <li><a href="https://www.doctrine-project.org/" target="_blank">Doctrine</a></li>
                            <li><a href="http://symfony.com/" target="_blank">Symfony</a></li>
                            <li><a href="http://www.symfonychina.com/" target="_blank">Symfony 中文文档</a></li>
                        </ul>
                    </li>
                    <li class="li-1 li-community">
                        <p>社区建设（联系我们）<font>欢迎各界小伙伴加入到项目设计、开发、推广、社区建设...</font></p>
                        <ul>
                            <li class="li-code">
                                <div>
                                    <img src="/assets/images/qq-qun.png">
                                    <p>扫码加入QQ交流群</p>
                                </div>
                            </li>
                            <li class="li-code">
                                <div>
                                    <img src="/assets/images/zxsjgzh.png">
                                    <p style="margin-left: 22px">扫码关注公众号</p>
                                </div>
                            </li>
                            <li class="li-code">
                                <div>
                                    <img src="/assets/images/toutiao-jay.png">
                                    <p>扫码关注作者头条号</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p style="clear: both">
            </div><!--//promo-block-inner-->
        </div><!--//container-->
    </div><!--//promo-block-->
</div><!--//page-wrapper-->

<footer class="footer text-center">
    <div class="container">
        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">该站点设计由 <a href="https://themes.3rdwavemedia.com/" target="_blank">Xiaoying Riley</a> 提供, 由 <a href="https://pages.github.com/" target="_blank">GitHub Pages</a> 生成。Copyright © <span id="copyright-year"></span> by 何俊杰Jayhe. All rights reserved.</small>

    </div><!--//container-->
</footer><!--//footer-->


<!-- Main Javascript -->
<script type="text/javascript" src="/assets/plugins/jquery-3.4.1.min.js"></script>
<script TYPE="text/javascript" src="/assets/js/reward.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/plugins/stickyfill/dist/stickyfill.min.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/plugins/prism/prism.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="/assets/plugins/lightbox/dist/ekko-lightbox.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#a_local_url").text(window.location.href);
        var date = new Date();
        var year = date.getFullYear();
        $('#copyright-year').text(year);
        $('.dir-item-a').each(function () {
            var path = window.location.pathname;
            if($(this).attr("href") == path || $(this).attr("href") == path.substring(0, path.length - 1)){
                $(this).css('color', '#00adef');
            }
        })

        $('#author').text(getAuthor('{{ page.author_no }}'));
    })
</script>
