<div id="promo-block" class="promo-block">
  <div class="container">
    <div class="promo-block-inner-bottom">
      <ul class="ul-1">
        <li class="li-1 li-link">
          <p>关联站</p>
          <ul>
            <li><a class="a_link_2" href="https://github.com/phpzlc/" target="_blank">GitHub 主页</a></li>
            <li><a class="a_link_2" href="http://symfony.com/" target="_blank">Symfony 官网</a></li>
            <li><a class="a_link_2" href="http://www.symfonychina.com/" target="_blank">Symfony 中文文档</a></li>
            <li><a class="a_link_2" href="https://getcomposer.org/" target="_blank">Composer 官网</a></li>
            <li><a class="a_link_2" href="https://www.doctrine-project.org/projects/doctrine-orm/en/2.7/index.html"
                target="_blank">Doctrine 官网</a></li>
            <li><a class="a_link_2" href="https://www.teebb.com/course-detail/symfony5-quanmiankaifa?source=phpzlc"
                   target="_blank">Symfony 5 中文视频教程</a></li>
          </ul>
        </li>
        <li class="li-1 li-link">
          <p>热门Blog</p>
          <ul>
            <li><a class="a_link_2" href="/doc/symfony-flex" target="_blank">Symfony Flex</a></li>
            <li><a class="a_link_2" href="/doc/db/entity" target="_blank">设计Entity</a></li>
            <li><a class="a_link_2" href="/blog/9.html" target="_blank">更好的防御BREACH攻击</a></li>
            <li><a class="a_link_2" href="/blog/5.html" target="_blank">PHP生成全景图(krpano)</a></li>
            <li><a class="a_link_2" href="/blog/2.html" target="_blank">Git分支参与者的常用操作</a></li>
          </ul>
        </li>
        <li class="li-1 li-community">
          <p>
            社区支持
            <span class="community-slack">
              <a href="/blog/13.html"><span>建立集中高效的开源社区，PHPZlc核心活动场所Slack</span></a>
            </span>
        </p>
          <!-- <span class="community-slack"><a href="/blog/13.html">建立集中高效的开源社区，PHPZlc 核心活动场所 Slack</a></span> -->
          <ul class="community-ul">
            <li class="li-code">
              <div>
                <img src="/assets/images/zhihu-1.png">
                <p>扫码关注作者知乎号</p>
              </div>
            </li>
            <li class="li-code">
              <div>
                <img src="/assets/images/qq-qun.png" class="qq_join">
                <p>扫码点击加入QQ群</p>
              </div>
            </li>
            <li class="li-code">
              <div>
                <img src="/assets/images/zxsjgzh-2.png">
                <p>扫码关注公众号</p>
              </div>
            </li>
            <li class="li-code">
              <div>
                <img src="/assets/images/toutiao-jay.png">
                <p>扫码关注作者头条号</p>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <p style="clear: both">
    </div>
    <!--//promo-block-inner-->
  </div>
  <!--//container-->
</div>
<!--//promo-block-->
</div>
<!--//page-wrapper-->

<!-- 弹框 -->
<div class="mask_tip">
  <div class="tip">
      <!-- <a class="cancel" href="javascript:;">&times;</a> -->
      <p class="tip_1">抱歉弹框打扰，系统检测到您今日浏览时长已达60秒。您可以
        <a href="javascript:;" class="cancel_btn_2">关闭</a>窗口，但是我们诚挚的希望您可以花费一些时间为我们提供一些支持。</p>
      <p class="tip_2">
        <span>PHPZlc致力于提供“知行合一”的解决方案。中文名为PHP知了虫。</span>
        <span>我们从具体的场景入手，切实的考虑项目实施的各个环节，各个受众的期待以及工作难点。</span>
        <span>希望通过技术组合和工具开发的形式提供给使用者所见即所得，所想及所有的简便体验。</span>
      </p>
      <p class="tip_1">网站如果没有解决您的关切问题，希望您可以告诉我们，我们会积极调整响应。</p>
      <textarea class="input_1" id="advice" placeholder="请输入内容"></textarea>
      <div class="send">
          <textarea class="input_2" id="contact" placeholder="请输入联系信息(选填)"></textarea>
          <p class="tips"></p>
          <p class="send_btn">提交</p>
      </div>
      <p class="tip_1">如果我们的工作有帮助到您，希望您可以给我们一些鼓励支持：</p>
      <div class="zanzhu">
          <a href="https://github.com/phpzlc/phpzlc.github.io" target="_blank">前往Github，为我们点亮星星</a>
          <a class="dashan" href="https://github.com/phpzlc/phpzlc.github.io#%E8%B5%9E%E8%B5%8F%E6%94%AF%E6%8C%81" target="_blank">打赏，赞助，提供资金物质支持</a>
      </div>
      <p class="tip_1">您还可以通过一下渠道，关注我们，获取最新的框架动态，帮助项目获取人气，扩大影响力。</p>
      <div class="img">
          <a href="https://jq.qq.com/?_wv=1027&k=ZpwdagVG" target="_blank">
              <img src="https://phpzlc.com/assets/images/qq-qun.png" alt="">
              <span>phpzlc & symfony4+</span>
          </a>
          <a>
              <img src="https://phpzlc.com/assets/images/zhihu-1.png" alt="">
              <span>PHP知了虫</span>
          </a>
          <a class="zhihu">
              <img src="https://phpzlc.com/assets/images/toutiao-jay.png" alt="">
              <span>知行实践</span>
          </a>
      </div>
      <div class="do">
          <p class="tip_3">开源伙伴招募：<a class="link_3" href="https://phpzlc.com/blog/11.html" target="_blank">https://phpzlc.com/blog/11.html</a>。</p>
          <p class="tip_3">由于我们无法获取您是否已经是我们的会员了，所以此弹框每日都会弹出一次<a href="javascript:;" class="cancel_btn">关闭</a>。</p>
      </div>
  </div>
</div>

<footer class="footer text-center">
  <div class="container">
    <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
    <small class="copyright">
      <!-- 该站点设计由 <a href="https://themes.3rdwavemedia.com/" target="_blank">Xiaoying Riley</a> 提供, 由<a href="https://pages.github.com/" target="_blank">GitHub Pages</a> 生成。 -->
      <span class="footer_link"><a href="https://beian.miit.gov.cn/" style="color: rgba(255, 255, 255, 0.6);">皖ICP备17026196号-3</a></span>
      <span class="footer_link">Copyright © <span id="copyright-year"></span> by CJayhe. All rights reserved.</span>
      <span class="footer_link">34020302000197号</a></span>
    </small>
  </div>

  <!-- <div class="qun">
    <a target="_blank" href="https://jq.qq.com/?_wv=1027&k=ZpwdagVG">
      <img border="0" src="/assets/images/qq.png?v=20210324" alt="一键加群" title="一键加群">
      <p>QQ群</p>
    </a>
    <a class="a-2" target="_blank"
      href="https://join.slack.com/t/phpzlc/shared_invite/zt-r7mxo37k-jamLvYensNjo89eJdrg_7g">
      <img src="/assets/images/slack.png?v=1" alt="一键加群" title="一键加群">
      <p>Slack</p>
    </a>
  </div> -->

  <!--//container-->
</footer>
<!--//footer-->


<!-- Main Javascript -->
<!-- <script type="text/javascript" src="/assets/plugins/jquery-3.4.1.min.js"></script> -->
<script type="text/javascript" src="/assets/plugins/jquery.js"></script>
<script TYPE="text/javascript" src="/assets/js/reward.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/plugins/stickyfill/dist/stickyfill.min.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/plugins/prism/prism.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="/assets/plugins/lightbox/dist/ekko-lightbox.min.js"></script>
<script type="text/javascript" src="/assets/js/tip.js"></script>
<script type="text/javascript">
  $(function () {
    $("#a_local_url").text(localBaseUrl());
    $("#a_local_url").attr({ href: localBaseUrl() });


    var date = new Date();
    var year = date.getFullYear();
    $('#copyright-year').text(year);


    $('#left-div a').each(function () {
      var path = window.location.pathname;
      if ($(this).attr("href") == path || $(this).attr("href") == path.substring(0, path.length - 1)) {
        $(this).addClass('a-active');
      }
    })

    $('#author').text(getAuthor('{{ page.author_no }}'));

    $('.author').each(function () {
      $(this).html('作者：' + getAuthor($(this).data('id')));
    });

    $(".qq_join").click(function(){
      // window.location.href = "https://jq.qq.com/?_wv=1027&k=ZpwdagVG";
      window.open("https://jq.qq.com/?_wv=1027&k=ZpwdagVG")
    })
  })
</script>