<style type="text/css">
    #left-div {
        /* border-right-style:solid; */
        border-width:2px;
        width: 250px;
        float: left;
        margin-right: 20px;
        /* overflow-y: auto; */
    }
    #dir-div {
        padding: 20px;
        background: #fff;
        border-radius: 20px;
    }
    #left-div .dir-item-a{
        color: #2d8284;
        margin-top: 10px;
    }
    #left-div .dir-item{
        margin-top: 4px;
        font-size: 16px;
        line-height: 30px;
        font-weight: 700;
        font-family: 	Microsoft JhengHei;
        border-width:2px;
    }
    #left-div .dir-son{
        margin-left: 10px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 400;
    }

    @media (max-width: 1199px) {

        /* 导航 */
        /* #left-div {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 100;
          display: none;
          width: 100%;
          height: 100%;
          background: #000;
          opacity: 1;
          overflow-y: auto;
        }
        #dir-div {
          background: #f9f9fb;
        } */

    }

</style>
<div id="left-div">
    <div id="dir-div">
        <div class="dir-item">
            <a href="/doc/install" class="dir-item-a">安装与配置</a>
        </div>
        <div class="dir-item">
            <a href="/doc/skeleton" class="dir-item-a">目录与结构</a>
        </div>
        <div class="dir-item">
            <a class="dir-item-a">配置</a>
        </div>
        <div class="dir-item dir-son">
            <a href="/doc/config/params" class="dir-item-a">常量参数配置与环境变量</a>
        </div>
        <div class="dir-item dir-son">
            <a href="/doc/config/route" class="dir-item-a">路由(Route)</a>
        </div>
        <div class="dir-item">
            <a href="/doc/controller" class="dir-item-a">控制器(Controller)</a>
        </div>
        <div class="dir-item">
            <a href="/doc/errors" class="dir-item-a">错误收集(Errors)</a>
        </div>
        <div class="dir-item">
            <a href="/doc/validate" class="dir-item-a">验证(Validate)</a>
        </div>
        <div class="dir-item">
            <a class="dir-item-a">数据库</a>
        </div>
        <div class="dir-item dir-son">
            <a href="/doc/db/start" class="dir-item-a">创建使用数据库</a>
        </div>
        <div class="dir-item dir-son">
            <a href="/doc/db/entity" class="dir-item-a">了解Entity</a>
        </div>
        <div class="dir-item dir-son">
            <a class="dir-item-a">插入，更新，删除，校验</a>
        </div>
        <div class="dir-item dir-son">
            <a class="dir-item-a">简单查询</a>
        </div>
        <div class="dir-item dir-son">
            <a class="dir-item-a">事务</a>
        </div>
        <div class="dir-item dir-son">
            <a class="dir-item-a">速度优化</a>
        </div>
        <div class="dir-item">
            <a class="dir-item-a">业务层(Business)</a>
        </div>
        <div class="dir-item">
            <a class="dir-item-a">Repository(高级查询)</a>
        </div>
        <div class="dir-item dir-son">
            <a class="dir-item-a">规则</a>
        </div>
        <div class="dir-item dir-son">
            <a class="dir-item-a">规则碰撞</a>
        </div>
        <div class="dir-item dir-son">
            <a class="dir-item-a">重写规则</a>
        </div>
        <div class="dir-item dir-son">
            <a class="dir-item-a">表外字段</a>
        </div>
        <div class="dir-item dir-son">
            <a class="dir-item-a">必须规则</a>
        </div>
        <div class="dir-item dir-son">
            <a class="dir-item-a">重写SQL</a>
        </div>
        <div class="dir-item dir-son">
            <a class="dir-item-a">聚合查询</a>
        </div>
        <div class="dir-item">
            <a class="dir-item-a">内置数据(DataFixtures)</a>
        </div>
        <div class="dir-item">
            <a class="dir-item-a">文档(Document)</a>
        </div>
        <div class="dir-item">
            <a href="/doc/exception" class="dir-item-a">异常(Exception)</a>
        </div>
        <div class="dir-item">
            <a class="dir-item-a">工具</a>
        </div>
        <div class="dir-item dir-son">
            <a href="/doc/tool/sql" class="dir-item-a">Sql</a>
        </div>
        <div class="dir-item dir-son">
            <a href="/doc/tool/log" class="dir-item-a">Log</a>
        </div>
        <div class="dir-item">
            <a href="/doc/symfony-flex" class="dir-item-a">Symfony Flex</a>
        </div>
    </div>
</div>