<style type="text/css">
  html {
    font-size: 62.5%;
  }

  #left-div {
    border-width: 2px;
    width: 250px;
    float: left;
    margin-right: 20px;
    /* font-family: Georgia, serif; */
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  }

  /* 导航 */
  .nav {
    margin-top: 15px;
  }

  .nav-back {
    display: none;
  }

  .nav-ul-one .nav-li-one {
    list-style: none;
  }

  .nav-ul-one .nav-li-one a {
    display: block;
    font-size: 16px;
    line-height: 30px;
    color: #494d55;
    text-decoration: none;
  }

  .nav-ul-one .nav-li-one a:hover {
    color: #00adef;
  }

  .nav-ul-two {
    padding-left: 20px;
  }

  .nav-ul-two .nav-li-two {
    padding: 0;
    list-style: none;
  }

  .nav-ul-two .nav-li-two a {
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    /* color: #2d8284; */
    color: #494d55;
    opacity: 0.75;
  }

  .nav-ul-two .nav-li-two a:hover {
    color: #00adef;
  }

  .nav-hidden {
    display: none;
  }

  .nav-ul-one .nav-li-one .a-active {
    color: #00adef;
  }

  /* 移动端样式 */
  @media (max-width: 1199px) {
    .nav {
      position: fixed;
      top: 0;
      right: 100%;
      z-index: 10;
      width: 100%;
      height: 100%;
      margin: 0;
      /* background-color: #494d55ab; */
      background-color: rgba(0, 0, 0, 0.5);
      overflow-y: auto;
      transition: 0.2s linear;
    }

    .nav-back {
      display: block;
      width: 70%;
      padding-left: 2%;
      background: #494d55;
    }

    .nav-back a {
      display: block;
      padding-left: 20px;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 4rem;
      color: #fff;
      background: url("/assets/images/pro-2.png") no-repeat left center;
    }

    .nav-ul-one {
      padding-top: 1rem;
      padding-left: 3%;
      margin: 0;
      width: 70%;
      background: #f9f9fb;
    }

    .nav-ul-one .nav-li-one a {
      margin-left: 6%;
    }

    .nav-hidden {
      position: fixed;
      left: -1.5rem;
      top: 17rem;
      z-index: 5;
      display: block;
      width: 3rem;
      height: 3rem;
      opacity: 0.5;
      border-radius: 10%;
      padding-left: 1.5rem;
      background: #000 url("/assets/images/pro.png") no-repeat 90% center;
    }
  }
</style>
<div id="left-div">
  <div class="nav-hidden"></div>
  <!-- 导航 -->
  <div class="nav">
    <div class="nav-back"><a href="javascript:;">返回</a></div>
    <ul class="nav-ul-one">
      <li class="nav-li-one"><a href="/doc/install" class="a-active">安装与配置</a></li>
      <li class="nav-li-one"><a href="/doc/skeleton">目录与结构</a></li>
      <li class="nav-li-one">
        <a href="javascript:;">配置</a>
        <ul class="nav-ul-two">
          <li class="nav-li-two"><a href="/doc/config/params">常量参数配置与环境配置</a></li>
          <li class="nav-li-two"><a href="/doc/config/route">路由（Router）</a></li>
        </ul>
      </li>
      <li class="nav-li-one"><a href="/doc/controller">控制器（Controller）</a></li>
      <li class="nav-li-one"><a href="/doc/errors">错误收集（Errors）</a></li>
      <li class="nav-li-one"><a href="/doc/validate">验证（Validate）</a></li>
      <li class="nav-li-one">
        <a href="javascript:;">数据库</a>
        <ul class="nav-ul-two">
          <li class="nav-li-two"><a href="/doc/db/start">创建使用数据库</a></li>
          <li class="nav-li-two"><a href="/doc/db/entity">了解Entity</a></li>
          <li class="nav-li-two"><a href="javascript:;">插入、更新、删除、校验</a></li>
          <li class="nav-li-two"><a href="javascript:;">简单查询</a></li>
          <li class="nav-li-two"><a href="javascript:;">事务</a></li>
          <li class="nav-li-two"><a href="javascript:;">速度优化</a></li>
        </ul>
      </li>
      <li class="nav-li-one"><a href="javascript:;">业务层（Business）</a></li>
      <li class="nav-li-one">
        <a href="javascript:;">Repository（高级查询）</a>
        <ul class="nav-ul-two">
          <li class="nav-li-two"><a href="javascript:;">规则</a></li>
          <li class="nav-li-two"><a href="javascript:;">规则碰撞</a></li>
          <li class="nav-li-two"><a href="javascript:;">重写规则</a></li>
          <li class="nav-li-two"><a href="javascript:;">表外字段</a></li>
          <li class="nav-li-two"><a href="javascript:;">必须规则</a></li>
          <li class="nav-li-two"><a href="javascript:;">重写SQL</a></li>
          <li class="nav-li-two"><a href="javascript:;">聚合查询</a></li>
        </ul>
      </li>
      <li class="nav-li-one"><a href="javascript:;">内置数据（DataFixtures）</a></li>
      <li class="nav-li-one"><a href="javascript:;">文档（Document）</a></li>
      <li class="nav-li-one"><a href="/doc/exception">异常（Exception）</a></li>
      <li class="nav-li-one">
        <a href="javascript:;">工具</a>
        <ul class="nav-ul-two">
          <li class="nav-li-two"><a href="javascript:;">Sql</a></li>
          <li class="nav-li-two"><a href="javascript:;">Log</a></li>
        </ul>
      </li>
      <li class="nav-li-one"><a href="/doc/symfony-flex">Symfony Flex</a></li>
    </ul>
  </div>
</div>
<script type="text/javascript" src="/assets/plugins/jquery-3.4.1.min.js"></script>
<script>
  // 打开菜单
  $(".nav-hidden").click(function () {
    $(".nav").css({ right: "0" })
    $(".nav").css({ opacity: "1" })
  })
  // 隐藏菜单
  $(".nav-back").click(function () {
    $(".nav").css({ right: "100%" })
    $(".nav").css({ opacity: "0" })
  })
</script>