<style type="text/css">
    #left-div {
        border-right-style:solid;
        border-width:2px;
        width: 200px;
        float: left;
        margin-right: 20px;
    }
    #left-div .dir-item-a{
        color: #2d8284;
        font-size: 15px;
        margin-top: 10px;
    }
    #left-div .dir-son{
        margin-left: 20px;
    }
    #left-div .dir-item{
        margin-top: 4px;
        border-bottom-style: dashed;
        border-width:2px;
    }
</style>
<div id="left-div">
    <div id="dir-div">
        <div class="dir-item">
            <a href="/doc/install" class="dir-item-a">安装与配置</a>
        </div>
        <div class="dir-item">
            <a href="/doc/skeleton" class="dir-item-a">目录与结构</a>
        </div>
        <div class="dir-item">
            <a href="/doc/symfony-flex" class="dir-item-a">Symfony Flex</a>
        </div>
<!--            <a class="nav-link scrollto" href="/doc/route">路由</a>-->
<!--            <a class="nav-link scrollto" href="/doc/controller">控制器与接口</a>-->
<!--            <nav class="doc-sub-menu nav flex-column">-->
<!--                <a class="nav-link scrollto" href="#step1">请求</a>-->
<!--                <a class="nav-link scrollto" href="#step2">响应</a>-->
<!--            </nav>&lt;!&ndash;//nav&ndash;&gt;-->
<!--            <a class="nav-link scrollto" href="/doc/route">环境变量与配置文件</a>-->
<!--            <a class="nav-link scrollto" href="/doc/route">数据库操作</a>-->
<!--            <nav class="doc-sub-menu nav flex-column">-->
<!--                <a class="nav-link scrollto" href="#step1">创建数据库，创建表</a>-->
<!--                <a class="nav-link scrollto" href="#step1">更新数据库结构，删除数据库</a>-->
<!--                <a class="nav-link scrollto" href="#step1">生成get-set方法</a>-->
<!--                <a class="nav-link scrollto" href="#step1">查询</a>-->
<!--                <a class="nav-link scrollto" href="#step2">验证, 插入,更新</a>-->
<!--                <a class="nav-link scrollto" href="#step2">删除</a>-->
<!--                <a class="nav-link scrollto" href="#step1">规则</a>-->
<!--                <a class="nav-link scrollto" href="#step1">规则碰撞</a>-->
<!--                <a class="nav-link scrollto" href="#step1">重写规则</a>-->
<!--                <a class="nav-link scrollto" href="#step1">表外字段</a>-->
<!--                <a class="nav-link scrollto" href="#step1">必须规则</a>-->
<!--                <a class="nav-link scrollto" href="#step1">重写SQL</a>-->
<!--                <a class="nav-link scrollto" href="#step1">聚合查询</a>-->
<!--            </nav>&lt;!&ndash;//nav&ndash;&gt;-->
<!--            <a class="nav-link scrollto" href="/doc/route">内置数据</a>-->
<!--            <a class="nav-link scrollto" href="/doc/route">文档编写</a>-->
<!--            <a class="nav-link scrollto" href="/doc/route">工具</a>-->
<!--            <nav class="doc-sub-menu nav flex-column">-->
<!--                <a class="nav-link scrollto" href="/doc/route">错误与异常</a>-->
<!--                <a class="nav-link scrollto" href="/doc/route">日志记录</a>-->
<!--                <a class="nav-link scrollto" href="/doc/route">事务</a>-->
<!--                <a class="nav-link scrollto" href="/doc/route">SQL工具</a>-->
<!--            </nav>&lt;!&ndash;//nav&ndash;&gt;-->
<!--            <a class="nav-link scrollto" href="/doc/route">组件编程</a>-->
<!--            <nav class="doc-sub-menu nav flex-column">-->
<!--                <a class="nav-link scrollto" href="/doc/route">概述</a>-->
<!--                <a class="nav-link scrollto" href="/doc/route">业务组件</a>-->
<!--                <a class="nav-link scrollto" href="/doc/route">vender组件</a>-->
<!--            </nav>&lt;!&ndash;//nav&ndash;&gt;-->
<!--            <a class="nav-link scrollto" href="/doc/route">已有组件文档</a>-->
<!--            <nav class="doc-sub-menu nav flex-column">-->
<!--                <a class="nav-link scrollto" href="/doc/route">admin</a>-->
<!--                <a class="nav-link scrollto" href="/doc/route">api</a>-->
<!--                <a class="nav-link scrollto" href="/doc/route">sms</a>-->
<!--            </nav>&lt;!&ndash;//nav&ndash;&gt;-->
<!--        </nav>&lt;!&ndash;//doc-menu&ndash;&gt;-->
    </div>
</div>