---
column_title: 常见问题
---
<html lang="en">

{% include hender.html %}

<body class="body-blue">
    <div class="page-wrapper">

        {% include hender_column.html %}

        <div class="doc-wrapper">
            <div class="container">
                <div class="doc-body row">
                    <div class="doc-content col-md-9 col-12 order-1">
                        <div class="content-inner">
                            <section id="prefacep" class="doc-section">
                                <h2 class="section-title">学习框架需要掌握哪些基本知识？</h2>
                                <div class="section-block">
                                    <div class="answer">
                                        <pre>
                                             语言环境:

                                              PHP7.3


                                        </pre>
                                        语言环境:
                                        <br>
                                        <br>
                                        &emsp;Linux
                                        <br>
                                         PHP7.3
                                        <br>
                                         MySql 5.7+
                                         Apache/Nginx;
                                        <br>
                                        <br>

                                        框架：
                                        <br>
                                        <br>
                                        &emsp;Symfony4.4 +;
                                        <br>
                                        <br>

                                        工具:
                                        <br>
                                        <br>
                                        &emsp;Composer + Git;
                                    </div>
                                </div><!--//section-block-->
                            </section><!--//doc-section-->

                            <section id="use" class="doc-section">
                                <h2 class="section-title">适用业务与人群</h2>
                                <div class="section-block">
                                    <div class="answer">
                                    框架属于早期阶段，性能和架构还不是十分的成熟，不建议复杂度高且对性能质量有较高要求的项目使用。
                                    <br>
                                    <br>

                                    我们认为适合以下人群使用。
                                    <br>
                                    <br>

                                    &emsp;1. Symfony初学者。
                                    <br>
                                    <br>

                                    &emsp;&emsp;掌握了Symfony的基础知识，但不清楚如何组合所学，可以通过我们的实践方案，快速的了解Symfony的实践方式。
                                    <br>
                                    <br>

                                    &emsp;2. Symfony交流者。
                                    <br>
                                    <br>

                                    &emsp;&emsp;Symfony资深的开发者，可以在了解我们的技术策略后，对比参照，相互交流，共同促进。
                                    <br>
                                    <br>

                                    &emsp;3. 个人开发者。
                                    <br>
                                    <br>

                                    &emsp;&emsp;可以根据文档的直接指导，使用丰富的组件，快速低成本的构建项目。
                                    <br>
                                    <br>

                                    &emsp;4. 团队开发。
                                    <br>
                                    <br>

                                    &emsp;&emsp;PHPZlc本身就立足于商业开发，形成了一套利于维护的编码策略及规范，可以供团队很便捷的学习，使用。
                                    <br>
                                    <br>

                                    &emsp;&emsp;PHPZlc面向业务的组件策略，业务代码可以便捷复用，产生持续积累价值。
                                    </div>
                                </div><!--//section-block-->
                            </section><!--//doc-section-->
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                        <div id="doc-nav" class="doc-nav">
                            <nav id="doc-menu" class="nav doc-menu flex-column sticky">
                                <a class="nav-link scrollto" href="#prefacep">学习需知</a>
                                <a class="nav-link scrollto" href="#use">适用业务与人群</a>
                            </nav><!--//doc-menu-->
                        </div>
                    </div><!--//doc-sidebar-->
                </div><!--//doc-body-->
            </div><!--//container-->
        </div><!--//doc-wrapper-->

    {% include footer.html %}
</body>
</html>

