---
column_title: 关于我们
---
<html lang="en">

{% include hender.html %}

<body class="body-blue">
<div class="page-wrapper">

    {% include hender_column.html %}

<!--
    开发者说:

    // 知了虫的含义
    // 知了虫的编程哲学
        //1:最优解决方案和技术集合
        //2:兜底写法
    // 知了虫与symfony的关系
    // 知了虫与实践的关系
    // 知了虫是写法和应用的桥梁


    开发者说
        很高兴，和大家介绍phpzlc。大家可以随意的创造读法，我的读法是字母读音法。
        他的中文名是php知了虫。php是其所使用的编程语言，知了虫是一种在夏天会叫个不停的昆虫。一听到这个昆虫叫，人们就知道了是知了在叫，也知道现在正值盛夏。
        我觉得好的程序应当能够给与其联系的每个人有准确的认知，
        如果你是开发者你在调用其他模块时，他可以满足你的所有关联期待，使得你可以尽情挥洒，当你是使用者时，他可以给你准确到位的完成度，
        如果你是维护者，这个功能的实现方式应当和你最佳的思路保持一致或者高度可接受，不至于拿到代码时茫然无措或不断吐槽。
        当然这是困难的，因为这听上去不是一个技术活，所以这就是我们的目标，phpzlc不追求成为技术的创造者，追求做最佳的技术实现方案提供者，人们可以在这里获得符合预期的代码，也可以在这里得到最佳的实践认知。

        phpzlc的技术构成，经历了好几代的发展，第一代我们在项目中放置的一块自己包，每次用于粘贴复制，在这个阶段我们完成了基础写法的验证，下一版中我们将其和composer进行结合，并且推出了第一版组件即组件标准；
        这时候的版本出现的问题主要就是美誉和symfony进行深入的融合，这一版我们结合以往的经验，全力的拥抱了symfony和php的世界。虽然还有很多不足之处，但就目前的效果而言，几乎在写法上不会影响的sumfony。

        我希望任何参与或者使用phpzlc的小伙伴，都应该清除的知道他追求的不是技术的创造和标准的引领，从实用角度上，他是足够的方便的工具，从技术管理的角度上来说，他是高级技术和实际生活之间的桥梁。

        如果你的phpzlc的理念认同，希望你可以参与进来，会一直保持社区活跃，尽可能的保证每一个参与者都可以得到发展

        //重复开发的成本；重复开发的质量；技术的积累；

     商务合作
        如果需要长期稳定及时的支持，希望可以和我们签订技术服务条约；
        未来团对和框架的发展，希望如果有需要php后端进行开发的话找我们；
        个人开发者，也可以和我们联系；
        其他工种的小伙伴希望可以获得满足；

    缺少的素材
        logo设计；希望有热心的前端小伙伴机械能管理

    学习文档；

    版本管理与发行计划:

    最新的动态：



-->

    <div class="doc-wrapper">
        <div class="container">
            <div class="doc-body row">
                <div class="doc-content col-md-9 col-12 order-1">
                    <div class="content-inner">
                        <section id="prefacep" class="doc-section">
                            <h2 class="section-title">开发者说</h2>
                            <div class="section-block">
                                <h3 class="question"><i class="fas fa-question-circle"></i> 重复的项目产生的经验</h3>
                                <div class="answer">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</div>
                            </div><!--//section-block-->
                            <div class="section-block">
                                <h3 class="question"><i class="fas fa-question-circle"></i> 项目开发中，对于好的执着</h3>
                                <div class="answer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
                            </div><!--//section-block-->
                            <div class="section-block">
                                <h3 class="question"><i class="fas fa-question-circle"></i> 对symfony的改造</h3>
                                <div class="answer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
                            </div><!--//section-block-->
                        </section><!--//doc-section-->

                        <section id="use" class="doc-section">
                            <h2 class="section-title">适用业务与人群</h2>
                            <div class="section-block">
                                <div class="section-block">
                                    <h3 class="question"><i class="fas fa-question-circle"></i> 适用人群</h3>
                                    <div class="answer">Curabitur nec ipsum placerat, accumsan justo eu, imperdiet augue. Praesent eget mattis erat. Donec dolor odio, maximus quis est ut, bibendum pharetra ante. Sed faucibus nec dui sed elementum. Nullam aliquet, dui at bibendum egestas, lorem metus euismod libero, ut porta risus felis eget odio. Aenean tincidunt magna at posuere semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
                                </div><!--//section-block-->
                                <div class="section-block">
                                    <h3 class="question"><i class="fas fa-question-circle"></i> 适用业务</h3>
                                    <div class="answer">Curabitur nec ipsum placerat, accumsan justo eu, imperdiet augue. Praesent eget mattis erat. Donec dolor odio, maximus quis est ut, bibendum pharetra ante. Sed faucibus nec dui sed elementum. Nullam aliquet, dui at bibendum egestas, lorem metus euismod libero, ut porta risus felis eget odio. Aenean tincidunt magna at posuere semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
                                </div><!--//section-block-->
                            </div><!--//section-block-->
                        </section><!--//doc-section-->

                        <section id="quiz" class="doc-section">
                            <h2 class="section-title">建议与提问</h2>
                            <div class="section-block">
                                <h3 class="question"><i class="fas fa-question-circle"></i> 反馈渠道</h3>
                                <div class="answer">Curabitur nec ipsum placerat, accumsan justo eu, imperdiet augue. Praesent eget mattis erat. Donec dolor odio, maximus quis est ut, bibendum pharetra ante. Sed faucibus nec dui sed elementum. Nullam aliquet, dui at bibendum egestas, lorem metus euismod libero, ut porta risus felis eget odio. Aenean tincidunt magna at posuere semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
                            </div><!--//section-block-->
                        </section><!--//doc-section-->

                    </div><!--//content-inner-->
                </div><!--//doc-content-->
                <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                    <div id="doc-nav" class="doc-nav">
                        <nav id="doc-menu" class="nav doc-menu flex-column sticky">
                            <a class="nav-link scrollto" href="#prefacep">开发者说</a>
                            <a class="nav-link scrollto" href="#use">项目历史</a>
                            <a class="nav-link scrollto" href="#quiz">项目团队</a>
                        </nav><!--//doc-menu-->
                    </div>
                </div><!--//doc-sidebar-->
            </div><!--//doc-body-->
        </div><!--//container-->
    </div><!--//doc-wrapper-->

    {% include footer.html %}
</body>
</html>

