---
column_title: 项目介绍
---
<html lang="en">

{% include header.html %}

<body class="body-blue">
  <div class="page-wrapper">

    {% include header_column.html %}

    <div class="doc-wrapper">
      <div class="container">
        <div class="doc-body row">
          <div class="doc-content col-md-9 col-12 order-1">
            <div class="content-inner">
              <section id="prefacep" class="doc-section">
                <h2 class="section-title">开发者说</h2>
                <div class="section-block">
                  <div class="answer">
                    PHP知了虫。致力于在PHP及Symfony生态基础上深度运用Symfony4框架，以实现对于项目资源和代码结构统一而清晰的认知，从而实现知行合一的编码自信。为更庞大更精细的项目未来提供稳定的预期及更多的支持。
                    <br>
                    <br>

                    框架提供了一整套在Symfony4上构建项目的经验和策略，可以帮助使用者快速构建良好结构的商业项目。
                    <br>
                    <br>

                    框架本质上是Symfony的一种具像化应用场景，根据实践经验确定的最佳的技术组合。
                    <br>
                    <br>

                    框架在写法上与Symfony官方的推荐写法有所差异，但这不影响你继续使用Symfony原有的推荐写法和特性，两者并不互斥。
                    <br>
                    <br>

                    我们不希望标新立异。所以我们的方向，是开放我们的想法，接纳更多的新想法。以让我们知道正确道路在哪！
                    <br>
                    <br>

                    我们不认为可以对Symfony有什么改造，我们现阶段的任何举措都有可能是我们认识的浅薄造成的，所以是笑话的可能性更大一些。
                    <br>
                    <br>

                    我们不认为存在被嘲笑的风险就可以不大声呐喊，因为困惑也存在合理性，勇于分享可能体验到挫折，但最终我们会解开所有的疙瘩。
                    <br>
                    <br>

                    有一天，我们的工作可能会停止，那一天应该是我们走上正轨的时候，我们完全了解了Symfony的世界，PHP的世界。我们拥抱到了更大的世界。
                    <br>
                    <br>

                    我希望PHPZlc成为一个社区，一种文化。与他同行的人，可以得到知行合一的实践方案。
                  </div>
                </div>
              </section>
              <!--//doc-section-->

              <section id="use" class="doc-section">
                <h2 class="section-title">适用业务与人群</h2>
                <div class="section-block">
                  <div class="answer">
                    框架属于早期阶段，性能和架构还不是十分的成熟，不建议复杂度高且对性能质量有较高要求的项目使用。
                    <br>
                    <br>

                    我们认为适合以下人群使用。
                    <br>
                    <br>

                    &emsp;1. Symfony初学者。
                    <br>
                    <br>

                    &emsp;&emsp;掌握了Symfony的基础知识，但不清楚如何组合所学，可以通过我们的实践方案，快速的了解Symfony的实践方式。
                    <br>
                    <br>

                    &emsp;2. Symfony交流者。
                    <br>
                    <br>

                    &emsp;&emsp;Symfony资深的开发者，可以在了解我们的技术策略后，对比参照，相互交流，共同促进。
                    <br>
                    <br>

                    &emsp;3. 个人开发者。
                    <br>
                    <br>

                    &emsp;&emsp;可以根据文档的直接指导，使用丰富的组件，快速低成本的构建项目。
                    <br>
                    <br>

                    &emsp;4. 团队开发。
                    <br>
                    <br>

                    &emsp;&emsp;PHPZlc本身就立足于商业开发，形成了一套利于维护的编码策略及规范，可以供团队很便捷的学习，使用。
                    <br>
                    <br>

                    &emsp;&emsp;PHPZlc面向业务的组件策略，业务代码可以便捷复用，产生持续积累价值。
                  </div>
                  <!--//section-block-->
                </div>
                <!--//section-block-->
              </section>
              <!--//doc-section-->

              <section id="cooperation" class="doc-section">
                <h2 class="section-title">商务合作</h2>
                <div class="section-block">
                  <div class="answer">
                    PHPZlc生于外包企业，为外包行业服务，适合快速的帮助使用者构建合格的后端交付件。
                    <br>
                    <br>

                    PHPZlc目前是由在职人员组成的开源工作室，无法提供企业属性的任何商业素材（发票）。
                    <br>
                    <br>

                    可以提供的商业合作形式：
                    <br>
                    <br>

                    &emsp;1. 技术资讯服务。
                    <br>
                    <br>

                    &emsp;&emsp; 关注PHPZlc的媒体账号，关注头条号，微信公众号。得到PHP、Symfony、行业最新资讯。
                    <br>
                    <br>

                    &emsp;2. 技术咨询服务。
                    <br>
                    <br>

                    &emsp;&emsp; 一般咨询: 加入QQ群，讨论交流。
                    <br>
                    <br>

                    &emsp;&emsp; 解决方案咨询: 加入QQ群，私聊群主私聊即可。
                    <br>
                    <br>

                    &emsp;3. 技术培训
                    <br>
                    <br>

                    &emsp;&emsp;Symfony培训（在线培训）：加入QQ群，私聊群主，可进行个人培训和团队培训。
                    <br>
                    <br>

                    &emsp;&emsp;PHPZlc实战培训（在线培训）：加入QQ群，私聊群主，可进行个人培训和团队培训。
                    <br>
                    <br>

                    &emsp;4. 后端项目承接
                    <br>
                    <br>

                    &emsp;&emsp;PHPZlc实战培训（在线培训）：加入QQ群，私聊群主，承接项目后端部分开发维护工作。
                    <br>
                    <br>


                    &emsp;5. 其他
                    <br>
                    <br>

                    &emsp;&emsp;更多合作形式请加入QQ群，私聊群主，说明意图。
                    <br>
                    <br>

                    联系方式:
                    <br>
                    <br>

                    &emsp;作者邮箱: 1044295598@qq.com
                    <br>
                    <br>

                    &emsp;作者QQ: 1044295598
                  </div>
                </div>
                <!--//section-block-->
              </section>
              <!--//doc-section-->

              <section id="recruit" class="doc-section">
                <h2 class="section-title">团队招募</h2>
                <div class="section-block">
                  <div class="answer">
                    PHPZlc是开源组织，你可以利用工作之余参与开源工作。
                    <br>
                    <br>

                    PHPZlc致力于以Symfony为基础，与Symfony生态相融合，获得知行合一的编码策略。为从业者提供交流平台，开箱即用的组件中心，清晰明了的编码方向，复杂问题的解决方案。
                    <br>
                    <br>

                    一个开源组织不光需要开发者，他需要各界的能量注入，你可以在你擅长的方向帮助到PHPZlc。
                    <br>
                    <br>

                    &emsp;设计者：提高品牌辨识度，提高网站美观度。
                    <br>
                    <br>

                    &emsp;翻译者：帮助海外工作者了解我们，获得便利。
                    <br>
                    <br>

                    &emsp;测试：帮助提高项目稳定性，安全性。
                    <br>
                    <br>

                    &emsp;法务：保护项目版权，帮助项目规避法律风险。
                    <br>
                    <br>

                    &emsp;文案：帮助检查文档行文规范。提升阅读体验，帮助使用者更轻松的了解。
                    <br>
                    <br>

                    &emsp;审核员：审核提交的代码，保证项目代码符合架构和规范。
                    <br>
                    <br>

                    &emsp;行业大佬：提纲挈领，给行业以不惑。
                    <br>
                    <br>

                    开源回报：
                    <br>
                    <br>
                    &emsp;1. PHPZlc会保证核心代码和一般组件永久开源。
                    <br>
                    <br>
                    &emsp;2. 开源者在未来商业化之后，核心维护者将享受组织商业红利，一般参与享受产品优惠。
                    <br>
                    <br>
                    &emsp;3. 帮助他人，丰富自己。
                  </div>
                </div>
                <!--//section-block-->
              </section>
              <!--//doc-section-->
            </div>
            <!--//content-inner-->
          </div>
          <!--//doc-content-->
          <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
            <div id="doc-nav" class="doc-nav">
              <nav id="doc-menu" class="nav doc-menu flex-column sticky">
                <a class="nav-link scrollto" href="#prefacep">开发者说</a>
                <a class="nav-link scrollto" href="#use">适用业务与人群</a>
                <a class="nav-link scrollto" href="#cooperation">商务合作</a>
                <a class="nav-link scrollto" href="#recruit">团队招募</a>
              </nav>
              <!--//doc-menu-->
            </div>
          </div>
          <!--//doc-sidebar-->
        </div>
        <!--//doc-body-->
      </div>
      <!--//container-->
    </div>
    <!--//doc-wrapper-->

    <div class="qun">
      <a target="_blank" href="https://jq.qq.com/?_wv=1027&k=ZpwdagVG">
        <img border="0" src="/assets/images/qq.png?v=20210324" alt="一键加群" title="一键加群">
        <p>加入本群</p>
      </a>
    </div>

    {% include footer.html %}
</body>

</html>