---
column_title: 项目介绍
---
<html lang="en">

{% include header.html %}

<body class="body-blue">
  <div class="page-wrapper">

    {% include header_column.html %}

    <div class="doc-wrapper">
      <div class="container">
        <div class="doc-body row">
          <div class="doc-content col-md-9 col-12 order-1">
            <div class="content-inner">
              <section id="project" class="doc-section">
                <h2 class="section-title">项目介绍</h2>
                <div class="section-block">
                  <div class="answer">
                    <div style="max-width: 500px">
                      <img src="/assets/logo-shense-600.png" width="100%">
                    </div>
                  </div>
                </div>

                <div class="section-block">
                  <h3 class="question"> PHPZlc & Symfony4+</h3>
                  <div class="answer">在Symfony4的基础上,为PHP开发者提供成熟的Web应用程序开发教程和业务组件。</div>
                </div><!--//section-block-->

                <div class="section-block">
                  <h3 class="question"> 框架提供</h3>
                  <div class="answer">
                    <p>Symfony开发手册，教程。</p>
                    <p>丰富的生态，将常用成熟的业务需求封装成开箱即用的业务组件。（业务组件允许安装后任意编辑）</p>
                    <p>交付文档生成, 文档通过PHP代码简单书写，输入Symfony命令。一键生成网页版文档。（文档可以伴随组件一起安装</p>
                  </div>
                </div><!--//section-block-->

                <div class="section-block">
                  <h3 class="question"> 框架价值</h3>
                  <div class="answer">较之于Symfony。更偏向于解决面向实际业务的统一解决方案，提高编程效率，编码质量，减少维护成本，增加团队幸福度。</div>
                </div><!--//section-block-->
              </section>
              <!--//doc-section-->

              <section id="copyright" class="doc-section">
                <h2 class="section-title">版权介绍</h2>
                <div class="section-block">
                  <div class="answer">
                    <p>Copyright © by CJayhe. All rights reserved.</p>
                    <p>开源协议遵循 MIT License。 使用者需在软件和软件的所有副本中都必须包含版权声明和许可声明。</p>
                  <!--//section-block-->
                </div>
                <!--//section-block-->
              </section>
              <!--//doc-section-->

              <section id="crowd" class="doc-section">
                <h2 class="section-title">适用人群</h2>
                <div class="section-block">
                  <h3 class="question"> Symfony初学者</h3>
                  <div class="answer">掌握了Symfony的基础知识，但不清楚如何组合所学，可以通过我们的实践方案，快速的了解Symfony的实践方式。</div>
                </div><!--//section-block-->
                <div class="section-block">
                  <h3 class="question"> Symfony交流者</h3>
                  <div class="answer">Symfony资深的开发者，可以在了解我们的技术策略后，对比参照，相互交流，共同促进。</div>
                </div><!--//section-block-->
                <div class="section-block">
                  <h3 class="question"> 个人开发者</h3>
                  <div class="answer">可以根据文档的直接指导，使用丰富的组件，快速低成本的构建项目。</div>
                </div><!--//section-block-->
                <div class="section-block">
                  <h3 class="question">团队开发</h3>
                  <div class="answer">
                    <p>
                      PHPZlc本身就立足于商业开发，形成了一套利于维护的编码架构及规范，便于在多人团队中建立标准。
                    </p>
                    <p>
                      PHPZlc面向业务的组件策略，使业务模式精细化开发成为可能。既可以减少复用成本，也可以提升软件水准。
                    </p>
                  </div>
                </div><!--//section-block-->
              </section><!--//doc-section-->

              <section id="business" class="doc-section">
                <h2 class="section-title">商业服务</h2>
                <div class="section-block">
                  <h3 class="question"> 技术资讯服务</h3>
                  <div class="answer"> 扫描站点下方二维码，关注头条号，微信公众号。获得框架、Symfony动态。IT资讯，精品博客。</div>
                </div><!--//section-block-->
                <div class="section-block">
                  <h3 class="question"> 技术咨询服务</h3>
                  <div class="answer">
                    <p>一般问题咨询：加入QQ群，讨论交流。</p>
                    <p>解决方案咨询：加入QQ群，私聊群主或公众号内回复咨询内容。</p>
                  </div>
                </div><!--//section-block-->
                <div class="section-block">
                  <h3 class="question"> 技术培训服务</h3>
                  <div class="answer">
                    <p>Symfony培训：加入QQ群，私聊群主或公众号内说明意图，可进行个人培训和团队培训。</p>
                    <p>PHPZlc实战培训：加入QQ群，私聊群主或公众号内说明意图，可进行个人培训和团队培训。</p>
                  </div>
                </div><!--//section-block-->
                <div class="section-block">
                  <h3 class="question"> 项目承接</h3>
                  <div class="answer">
                    <p>网站开发部署维护。</p>
                    <p>小程序开发部署维护。</p>
                    <p>公众号开发部署维护。</p>
                    <p>个人博客开发部署维护。</p>
                    <p>项目后端部分开发部署维护。</p>
                  </div>
                </div><!--//section-block-->
                <div class="section-block">
                  <h3 class="question"> 其他合作</h3>
                  <div class="answer">
                    更多合作形式请加入QQ群，私聊群主或公众号内说明意图。
                  </div>
                </div><!--//section-block-->
              </section><!--//doc-section-->
              <!--//doc-section-->
            </div>
            <!--//content-inner-->
          </div>
          <!--//doc-content-->
          <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
            <div id="doc-nav" class="doc-nav">
              <nav id="doc-menu" class="nav doc-menu flex-column sticky">
                <a class="nav-link scrollto" href="#project">项目介绍</a>
                <a class="nav-link scrollto" href="#copyright">版权介绍</a>
                <a class="nav-link scrollto" href="#crowd">适用人群</a>
                <a class="nav-link scrollto" href="#business">商业服务</a>
              </nav>
              <!--//doc-menu-->
            </div>
          </div>
          <!--//doc-sidebar-->
        </div>
        <!--//doc-body-->
      </div>
      <!--//container-->
    </div>
    <!--//doc-wrapper-->

    {% include footer.html %}
</body>

</html>