body {
  font-family: Microsoft Yahei, arial;
}
p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  vertical-align: middle;
}
.zs {
  outline: none;
}
img {
  vertical-align: middle;
}
.close {
  float: right;
  font-size: 21px;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.entry-shang {
  padding: 30px 0 20px;
  text-align: center;
}

.entry-shang p {
  font-size: 12px;
}

.btn-bred {
  min-width: 80px;
  border-color: #e26d6d;
  background: #e26d6d;
  color: #fff;
}

.zs-modal-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.zs-modal-box {
  width: 340px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -195px 0 0 -171px;
  border: 1px solid #eee;
  background: #fff;
  border-radius: 6px;
  display: none;
  z-index: 9999999;
}

.zs-modal-head {
  padding: 0 16px;
  position: relative;
}

.zs-modal-head img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.zs-modal-head .close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  outline: none;
}
.zs-modal-head .close:hover {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  outline: none;
  font-size: 40px;
  overflow: hidden;
  line-height: 30px;
}

.zs-modal-head .author {
  padding-top: 15px;
  display: block;
}
.zs-modal-head .author a {
  color: #333;
  text-decoration: none;
}

.zs-modal-head .author a:hover {
  text-decoration: none;
}

.zs-modal-head .author img {
  margin-right: 5px;
  display: inline;
}

.zs-modal-head .tip {
  background: #f6f6f6;
  padding: 0 10px;
  font-size: 12px;
  color: gray;
  border-radius: 3px;
  margin-top: 10px;
  position: relative;
  line-height: 28px;
  margin-bottom: 10px;
}

.zs-modal-head .tip i {
  display: block;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #f6f6f6 transparent;
  border-style: dashed dashed solid dashed;
  content: "";
  position: absolute;
  left: 8px;
  top: -7px;
}

.zs-modal-body {
  padding: 0 15px;
  margin-top: 20px;
}
.zs-modal-body .zs-modal-pay p {
  font-size: 14px;
  margin: 15px 0 5px 0;
}
.zs-modal-body .zs-modal-pay .btn-bred {
  cursor: default;
  outline: none;
}
.zs-modal-btns {
  font-size: 0;
}

.zs-modal-btns .btn:nth-child(3n-2) {
  margin-left: 0;
}

.zs-modal-btns .btn {
  outline: none;
  width: 28%;
  margin-left: 8%;
  margin-bottom: 24px;
  display: inline-block;
  font-size: 12px;
}

.zs-modal-btns .btn-blink {
  background: #fff;
  border-color: #e26d6d;
  color: #e26d6d;
  font-weight: bold;
}

.zs-modal-btns .btn-blink:hover,
.zs-btns .btn-blink:active {
  background: rgba(226, 109, 109, 0.06);
  box-shadow: none;
}

.zs-modal-btns .btn-blink:focus {
  background: #e26d6d;
  border-color: #e26d6d;
  color: #fff;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .zs-modal-body ul {
    letter-spacing: -5px;
  }
}

.zs-modal-footer {
  padding: 0 15px 15px;
}

.zs-modal-footer label {
  margin: 10px;
}
.zs-modal-footer label:nth-child(2) {
  margin-right: 20px;
  float: right;
}
.zs-modal-footer label:nth-child(1) {
  margin-left: 20px;
  float: left;
}
.clear {
  clear: both;
}
.zs-modal-footer img {
  display: inline;
  height: 25px;
  min-width: 85px;
  margin-bottom: 5px;
}

.zs-modal-pay {
  text-align: center;
  padding: 15px 0;
  display: none;
}
