---
column_title: 博客动态
---
<html lang="en">

{% include hender.html %}

<body class="body-blue">
<div class="page-wrapper">

    {% include hender_column.html %}

    <div class="doc-wrapper">
        <div class="container">
            <div class="doc-body row">
                <div class="doc-content col-12 order-1">
                    <div class="blog-list single-col-max mx-auto" style="min-height: 500px">
                        <!-- 遍历分页后的文章 -->
                        {% for post in paginator.posts %}
                            <div class="post-1552 post type-post status-publish format-standard has-post-thumbnail hentry category-blog blog-list-div">
                                <div class="content" style="border-bottom: 1px">
                                    <h4 class="post-title mb-3">
                                        <a href="{{ post.url }}"> {{ post.title }}</a>
                                    </h4>

                                    <div class="entry post-entry post-excerpt blog-list-excerpt">
                                        {{ post.excerpt | strip_html | strip_newlines }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4" style="margin: 0 auto; padding: 0;">
                        <ul class="pagination" style="width: 800px">
                            {% if paginator.previous_page %}
                            <li class="page-item">
                                {% if paginator.page != 2 %}
                                <a href="/blog/page{{ paginator.previous_page }}" class="page-link">上一页</a>
                                {% else %}
                                <a href="/blog" class="page-link">上一页</a>
                                {% endif %}
                            </li>
                            {% endif % %}

                            {% for pi in (1..2) %}
                                <li class="page-item">
                                    {% assign pi_1 = paginator.page | minus: 2 %}
                                    {% assign pi_2 = paginator.page | minus: 1 %}
                                    {% if pi == 1 and pi_1 > 0 %}
                                        {% if pi_1 == 1 %}
                                            <a href="/blog" class="page-link">{{ pi_1 }}</a>
                                        {% else %}
                                            <a href="/blog/page{{ pi_1 }}" class="page-link">{{ pi_1 }}</a>
                                        {% endif %}
                                    {% endif %}

                                    {% if pi_2 > 0 and pi == 2 %}
                                        {% if pi_2 == 1 %}
                                            <a href="/blog" class="page-link">{{ pi_2 }}</a>
                                        {% else %}
                                            <a href="/blog/page{{ pi_2 }}" class="page-link">{{ pi_2 }}</a>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endfor %}


                            <li class="page-item active">
                                {% if paginator.page == 1 %}
                                <a href="/blog" class="page-link">{{ paginator.page }}</a>
                                {% else %}
                                <a href="/blog/page{{ paginator.page }}" class="page-link">{{ paginator.page }}</a>
                                {% endif %}
                            </li>

                            {% for pi in (1..3) %}
                            {% assign pi_3 = paginator.page | plus: pi %}
                            {% if pi_3 <= paginator.total_pages %}
                            <li class="page-item">
                                {% if pi_3 == 1 %}
                                <a href="/blog" class="page-link">{{ pi_3 }}</a>
                                {% else %}
                                <a href="/blog/page{{ pi_3 }}" class="page-link">{{ pi_3 }}</a>
                                {% endif %}
                            </li>
                            {% endif %}
                            {% endfor %}

                            {% if paginator.next_page %}
                            <li class="page-item">
                                <a href="/blog/page{{ paginator.next_page }}" class="page-link">下一页</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div><!--//doc-body-->
        </div><!--//container-->
    </div><!--//doc-wrapper-->
    {% include footer.html %}
</body>
</html>

