---
column_title: 博客动态
---
<html lang="en">

{% include hender.html %}

<body class="body-blue">
<div class="page-wrapper">

    {% include hender_column.html %}

    <div class="doc-wrapper">
        <div class="container">
            <div class="doc-body row">
                <div class="doc-content col-12 order-1">
                    <div class="blog-list single-col-max mx-auto">
                        <!-- 遍历分页后的文章 -->
                        {% for post in paginator.posts %}
                        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                        <p class="author">
                            <span class="date">{{ post.date }}</span>
                        </p>
                        <div class="content">
                            {{ post.content }}
                        </div>
                        {% endfor %}

                        <!-- 分页链接 -->
                        <div class="pagination">
                            {% if paginator.previous_page %}
                            <a href="/blog/page{{ paginator.previous_page }}" class="previous">Previous</a>
                            {% else %}
                            <span class="previous">Previous</span>
                            {% endif %}
                            <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
                            {% if paginator.next_page %}
                            <a href="/blog/page{{ paginator.next_page }}" class="next">Next</a>
                            {% else %}
                            <span class="next ">Next</span>
                            {% endif %}
                        </div>
<!--                        {% for post in site.posts %}-->
<!--                        <div class="post-1552 post type-post status-publish format-standard has-post-thumbnail hentry category-blog">-->
<!--                            <div class="content">-->
<!--                                <h4 class="post-title mb-3">-->
<!--                                    <a href="{{ post.url }}" target="_blank"> {{ post.title }}</a>-->
<!--                                </h4>-->

<!--                                <div class="entry post-entry post-excerpt">-->
<!--                                    {{ post.excerpt }} …-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        {% endfor %}-->

<!--                        <div id="search-container">-->
<!--                            <input type="text" id="search-input" placeholder="search...">-->
<!--                            <ul id="results-container"></ul>-->

<!--                        <input type="text" id="search-input" placeholder="Search blog posts..">-->
<!--                        <ul id="results-container"></ul>-->

                        </div>
<!--                        -->
                </div>
            </div><!--//doc-body-->
        </div><!--//container-->
    </div><!--//doc-wrapper-->
    {% include footer.html %}
<!--    <script src="/assets/js/simple-jekyll-search.min.js"></script>-->

<!--    <script>-->
<!--        var sjs = SimpleJekyllSearch({-->
<!--            searchInput: document.getElementById('search-input'),-->
<!--            resultsContainer: document.getElementById('results-container'),-->
<!--            json: '/search.json'-->
<!--        })-->
<!--    </script>-->
</body>
</html>

