---
column_title: 团队成员
---
<html lang="en">

{% include header.html %}

<body class="body-blue">
  <div class="page-wrapper">

    {% include header_column.html %}

    <div class="wrapper-member">

      <div class="header-member">
        <p class="header-title">说明</p>
        <p class="header-content">
          专注于互联网与高科技领域的猎头公司，提供专业人才、中高级人才的寻聘服务（猎头），帮助企业找到关键人才，实现发展战略。曾被誉为阿里巴巴、美团、滴滴、英特尔、58集团等企业的“年度最佳人才服务合作机构”。专注于互联网与高科技领猎头公司，提供专业人才、中高级人才的寻聘服务（猎头），帮助企业找到关键人才，实现发展战略。曾被誉为阿里巴巴、美团、滴滴、英特尔、58集团等企业的“年度最佳人才服务合作机构”。专注于互联网与高科域的猎头公司，提供专业人才、中高级人才的寻聘服务（，帮助企业找到关键人才，实现发展战略。曾被誉为阿里巴巴、美团、滴滴、英特尔、58集团等企业的“年度最佳人才服务合作机构”。
        </p>
      </div>

      <div class="main-title">核心维护者</div>
      <div class="main">
        <a href="https://github.com/CJayHe" class="author-2">
          <img class="author-img" src="/assets/images/member/CJayHe.jpeg" alt="">
          <div class="author-right">
            <p>名称：<span>CJayHe</span></p>
            <p>角色：<span>作者</span></p>
            <img src="https://img.shields.io/github/stars/CJayHe?style=social" alt="" />
          </div>
        </a>
        <a href="https://github.com/ExodusHT" class="author-2">
          <img class="author-img" src="/assets/images/member/ExodusHT.jpeg" alt="">
          <div class="author-right">
            <p>名称：<span>海底捞面条师傅</span></p>
            <p>角色：<span>PHP工程师</span></p>
            <img src="https://img.shields.io/github/stars/ExodusHT?style=social" alt="" />
          </div>
        </a>
        <a href="https://github.com/qiesunl" class="author-2">
          <img class="author-img" src="/assets/images/member/qiesunl.jpeg" alt="">
          <div class="author-right">
            <p>名称：<span>qiesunl</span></p>
            <p>角色：<span>前端工程师</span></p>
            <img src="https://img.shields.io/github/stars/qiesunl?style=social" alt="" />
          </div>
        </a>
      </div>

      <div class="main-title">历史贡献者</div>
      <div class="main-contributors">
        <div class="img-circle"></div>
        <div class="main-content">
          <div class="main-left"></div>
          <div class="main-right">
            <a href="https://github.com/qiesunl">
              <img class="img-p" src="/assets/images/member/qiesunl.jpeg" alt="">
              <div class="user-detail">
                <span class="span-p">qiesunl</span>
                <span class="span-p">前端工程师</span>
                <span class="span-p">2020-12-15</span>
                <img class="img-p-2" src="https://img.shields.io/github/stars/qiesunl?style=social" alt="" />
                <span class="span-con">贡献：网站的设计开发工作</span>
              </div>
            </a>
            <a href="https://github.com/ExodusHT">
              <img class="img-p" src="/assets/images/member/ExodusHT.jpeg" alt="">
              <div class="user-detail">
                <span class="span-p">海底捞面条师傅</span>
                <span class="span-p">PHP工程师</span>
                <span class="span-p">2019-11-12</span>
                <img class="img-p-2" src="https://img.shields.io/github/stars/ExodusHT?style=social" alt="" />
                <span class="span-con">贡献：Dome开发,核心库和组件库开发工作</span>
              </div>
            </a>
            <a href="https://github.com/CJayHe">
              <img class="img-p" src="/assets/images/member/CJayHe.jpeg" alt="">
              <div class="user-detail">
                <span class="span-p">CJayHe</span>
                <span class="span-p">作者</span>
                <span class="span-p">2019-11-12</span>
                <img class="img-p-2" src="https://img.shields.io/github/stars/CJayHe?style=social" alt="" />
                <span class="span-con">贡献：框架作者、发起者、推动者。</span>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>

    {% include footer.html %}
</body>

</html>