---
column_title: 团队成员
---
<html lang="en">

{% include header.html %}

<body class="body-blue">
  <div class="page-wrapper">

    {% include header_column.html %}

    <div class="wrapper-member">

      <div class="header-member">
        <p class="header-title">不积跬步,无以至千里。不积小流,无以成江海。</p>
        <div class="header-content">
          <p>开源是一种分享，也是一种软件开发组织形式。一个好的项目，需要汇聚多方的智慧，从各个方面进行丰富。</p>
          <p>开源是一个持续的工作，他的生命力源于需要。"众人拾柴火焰高"，和优秀积极的人为同一个愿景进步，这个过程便是有意义，有乐趣的。</p>
          <p>开源是一个集体，集体中的每个个体只要力所能及推动自己的想法即可。不刻意，不勉强。</p>
          <p>开源是一项事业，我们为这项事业贡献力量。这项事业不光会帮助到我们，也会帮助到别人。</p>
          <p>开源需要盈利，但盈利是次要的工作。我们的价值源于我们被需要。</p>
          <br>
          <p>软件的成功，编码是重要的。但只有编码是不够的。我们不光需要优秀的工程师，也需要设计、文案、翻译、测试、维护、法律保障...</p>
          <p>我们一起编织梦想，也让更多人知道我们的事业。</p>
          <br>
          <p>如果你想参与我们的工作，不管什么样的想法，请加入我们。</p>
          <br>
          <p>希望参与开源工作的小伙伴,可以点击下方链接,在项目中选择,帮助我们更快的发布新版本。</p>
          <p><a href="https://github.com/orgs/phpzlc/projects">https://github.com/orgs/phpzlc/projects</a></p>
          <br>
          <p>如果你有想法或者反馈，推荐的开源协作方式,应当是在issues中进行,这样方便追踪,讨论,查阅。</p>
          <p><a
              href="https://github.com/phpzlc/phpzlc.github.io/issues">https://github.com/phpzlc/phpzlc.github.io/issues</a>
          </p>
        </div>
      </div>

      <div class="main-title">核心维护者</div>
      <div class="main">
        <a href="https://github.com/CJayHe" class="author-2">
          <img class="author-img" src="/assets/images/member/CJayHe.jpeg" alt="">
          <div class="author-right">
            <p>名称：<span>CJayHe</span></p>
            <p>角色：<span>作者</span></p>
            <img src="https://img.shields.io/github/stars/CJayHe?style=social" alt="" />
          </div>
        </a>
        <a href="https://github.com/ExodusHT" class="author-2">
          <img class="author-img" src="/assets/images/member/ExodusHT.jpeg" alt="">
          <div class="author-right">
            <p>名称：<span>ExodusHT</span></p>
            <p>角色：<span>PHP工程师</span></p>
            <img src="https://img.shields.io/github/stars/ExodusHT?style=social" alt="" />
          </div>
        </a>
        <a href="https://github.com/qiesunl" class="author-2">
          <img class="author-img" src="/assets/images/member/qiesunl.jpeg" alt="">
          <div class="author-right">
            <p>名称：<span>Noir</span></p>
            <p>角色：<span>前端工程师</span></p>
            <img src="https://img.shields.io/github/stars/qiesunl?style=social" alt="" />
          </div>
        </a>
      </div>

      <div class="main-title">历史贡献者</div>
      <div class="main-contributors">
        <div class="img-circle"></div>
        <div class="main-content">
          <div class="main-left"></div>
          <div class="main-right" id="authors">
            <!-- <a href="https://github.com/qiesunl">
              <img class="img-p" src="/assets/images/member/qiesunl.jpeg" alt="">
              <div class="user-detail">
                <span class="span-p">Noir</span>
                <span class="span-p">前端工程师</span>
                <span class="span-p">2020-12-15</span>
                <img class="img-p-2" src="https://img.shields.io/github/stars/qiesunl?style=social" alt="" />
                <span class="span-con">贡献：网站的设计开发工作</span>
              </div>
            </a>
            <a href="https://github.com/ExodusHT">
              <img class="img-p" src="/assets/images/member/ExodusHT.jpeg" alt="">
              <div class="user-detail">
                <span class="span-p">ExodusHT</span>
                <span class="span-p">PHP工程师</span>
                <span class="span-p">2019-11-12</span>
                <img class="img-p-2" src="https://img.shields.io/github/stars/ExodusHT?style=social" alt="" />
                <span class="span-con">贡献：Demo开发,核心库和组件库开发工作</span>
              </div>
            </a>
            <a href="https://github.com/CJayHe">
              <img class="img-p" src="/assets/images/member/CJayHe.jpeg" alt="">
              <div class="user-detail">
                <span class="span-p">CJayHe</span>
                <span class="span-p">作者</span>
                <span class="span-p">2019-11-12</span>
                <img class="img-p-2" src="https://img.shields.io/github/stars/CJayHe?style=social" alt="" />
                <span class="span-con">贡献：框架作者、发起者、推动者</span>
              </div>
            </a> -->
          </div>
        </div>
      </div>

    </div>

    {% include footer.html %}
</body>

</html>