---
column_title: 团队成员
---
<html lang="en">

{% include header.html %}

<body class="body-blue">
  <div class="page-wrapper">

    {% include header_column.html %}

    <div class="wrapper-member">

      <div class="header-member">
        <p class="header-title">说明</p>
        <p class="header-content">
          专注于互联网与高科技领域的猎头公司，提供专业人才、中高级人才的寻聘服务（猎头），帮助企业找到关键人才，实现发展战略。曾被誉为阿里巴巴、美团、滴滴、英特尔、58集团等企业的“年度最佳人才服务合作机构”。专注于互联网与高科技领猎头公司，提供专业人才、中高级人才的寻聘服务（猎头），帮助企业找到关键人才，实现发展战略。曾被誉为阿里巴巴、美团、滴滴、英特尔、58集团等企业的“年度最佳人才服务合作机构”。专注于互联网与高科域的猎头公司，提供专业人才、中高级人才的寻聘服务（，帮助企业找到关键人才，实现发展战略。曾被誉为阿里巴巴、美团、滴滴、英特尔、58集团等企业的“年度最佳人才服务合作机构”。
        </p>
      </div>

      <div class="main-title">核心维护者</div>
      <div class="main">
        <a href="javascript:;" class="author-2">
          <img class="author-img" src="/assets/images/ico-green.png" alt="">
          <div class="author-right">
            <p>名称：<span>helloworld</span></p>
            <p>角色：<span>后端</span></p>
            <img src="https://img.shields.io/github/stars/qiesunl?style=social" alt="" />
          </div>
        </a>
        <a href="javascript:;" class="author-2">
          <img class="author-img" src="/assets/images/ico-green.png" alt="">
          <div class="author-right">
            <p>名称：<span>helloworld</span></p>
            <p>角色：<span>后端</span></p>
            <img src="https://img.shields.io/github/stars/qiesunl?style=social" alt="" />
          </div>
        </a>
        <a href="javascript:;" class="author-2">
          <img class="author-img" src="/assets/images/ico-green.png" alt="">
          <div class="author-right">
            <p>名称：<span>helloworld</span></p>
            <p>角色：<span>后端</span></p>
            <img src="https://img.shields.io/github/stars/qiesunl?style=social" alt="" />
          </div>
        </a>
        <a href="javascript:;" class="author-2">
          <img class="author-img" src="/assets/images/ico-green.png" alt="">
          <div class="author-right">
            <p>名称：<span>helloworld</span></p>
            <p>角色：<span>后端</span></p>
            <img src="https://img.shields.io/github/stars/qiesunl?style=social" alt="" />
          </div>
        </a>
        <a href="javascript:;" class="author-2">
          <img class="author-img" src="/assets/images/ico-green.png" alt="">
          <div class="author-right">
            <p>名称：<span>helloworld</span></p>
            <p>角色：<span>后端</span></p>
            <img src="https://img.shields.io/github/stars/qiesunl?style=social" alt="" />
          </div>
        </a>
        <a href="javascript:;" class="author-2">
          <img class="author-img" src="/assets/images/ico-green.png" alt="">
          <div class="author-right">
            <p>名称：<span>helloworld</span></p>
            <p>角色：<span>后端</span></p>
            <img src="https://img.shields.io/github/stars/qiesunl?style=social" alt="" />
          </div>
        </a>
        <a href="javascript:;" class="author-2">
          <img class="author-img" src="/assets/images/ico-green.png" alt="">
          <div class="author-right">
            <p>名称：<span>helloworld</span></p>
            <p>角色：<span>后端</span></p>
            <img src="https://img.shields.io/github/stars/qiesunl?style=social" alt="" />
          </div>
        </a>
      </div>

      <div class="main-title">核心贡献者</div>
      <div class="main-contributors">
        <div class="img-circle"></div>
        <div class="main-content">
          <div class="main-left"></div>
          <div class="main-right">
            <a href="javascript:;">
              <img class="img-p" src="/assets/images/ico-green.png" alt="">
              <span class="span-p">名称：</span><span class="member-name">Noir</span>
              <span class="span-p">角色：</span><span>前端</span>
              <span class="span-p">加入时间：</span><span>2021-4-2</span>
              <img class="img-p-2" src="https://img.shields.io/github/stars/qiesunl?style=social" alt="" />
            </a>
            <a href="javascript:;">
              <img class="img-p" src="/assets/images/ico-green.png" alt="">
              <span class="span-p">名称：</span><span class="member-name">Noir</span>
              <span class="span-p">角色：</span><span>前端</span>
              <span class="span-p">加入时间：</span><span>2021-4-2</span>
              <img class="img-p-2" src="https://img.shields.io/github/stars/qiesunl?style=social" alt="" />
            </a>
            <a href="javascript:;">
              <img class="img-p" src="/assets/images/ico-green.png" alt="">
              <span class="span-p">名称：</span><span class="member-name">Noir</span>
              <span class="span-p">角色：</span><span>前端</span>
              <span class="span-p">加入时间：</span><span>2021-4-2</span>
              <img class="img-p-2" src="https://img.shields.io/github/stars/qiesunl?style=social" alt="" />
            </a>
            <a href="javascript:;">
              <img class="img-p" src="/assets/images/ico-green.png" alt="">
              <span class="span-p">名称：</span><span class="member-name">Noir</span>
              <span class="span-p">角色：</span><span>前端</span>
              <span class="span-p">加入时间：</span><span>2021-4-2</span>
              <img class="img-p-2" src="https://img.shields.io/github/stars/qiesunl?style=social" alt="" />
            </a>
          </div>
        </div>
      </div>

    </div>

    {% include footer.html %}
</body>

</html>