name: gh-page

on: [push]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build & Deploy to GitHub Pages
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          GITHUB_REPOSITORY: ${{ secrets.REPOSITORY }}
          GITHUB_ACTOR: ${{ secrets.ACTOR }}
        uses: BryanSchuetz/jekyll-deploy-gh-pages@master